[2020-08-18 20:41] Niravpatel129 commented on #379
same issue when using postman.

[2020-08-20 14:40] BesthaSwapna opened #1044 "how can i get access_token from refresh_token OAuth"
Thanks for stopping by to let us know something could be better!

**PLEASE READ**: If you have a support contract with Google, please create an issue in the [support console](https://cloud.google.com/support/) instead of filing on GitHub. This will ensure a timely response.

 **Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is.

[2020-08-20 17:09] sofisl commented on #1044
Hi there, would you mind providing your code snippet, what you're getting, and what you're expecting to get or what you're trying to accomplish? Thanks in advance!

[2020-08-24 18:00] fabioscmelo commented on #868
@AndyClausen
Did you get a solution? I have the same problem

[2020-08-24 19:58] AndyClausen commented on #868
Nope. Maybe there is a way, I didn't try that hard since I was only using it for a PoC so I ended up just minting a token myself. Do give a shout here if you find out though :)

[2020-09-01 20:19] sofisl commented on #923
Hi all, just wanting to follow up on this issue. Is the problem persisting?

I attempted to recreate the issue, but was unable. When you spun up the emulator, did you also set up the environment variables? You can do so with `gcloud beta emulators pubsub env-init`, or manually,
[code]

See more info [here](https://cloud.google.com/pubsub/docs/emulator).

[2020-09-03 08:49] pnowakaero commented on #283
Hello. I have the same error like user 1c7 but I don't quite understand on which port should I set the proxy. Should be same port that my nodejs app is running?

[2020-09-03 08:54] pnowakaero commented on #948
I have same issue like anilvpatel21. Any solutions?

[2020-09-03 21:45] sofisl commented on #923
@oreporan @mvergarair

[2020-09-11 23:42] bcoe commented on #1013
@ile tokens should be refreshed automatically when a request is made and they are expired. Are you able to make requests, just the token refresh callback was not invoked?

[2020-09-15 01:32] sofisl commented on #923
Hi @oreporan @mvergarair, I'm going to go ahead to close this issue for now since I haven't heard anything back. Feel free to reopen if you're still running into this issue. Thanks!

[2020-09-15 01:32] #923 closed

[2020-09-15 20:14] istarkov commented on #802
Same here, what is the way to programmatically get jwt from cloudrun without credentials file or anything else.
As providing securely JSON with private key needs libraries like berglas or read from secure storage

[2020-09-16 08:40] guillenotfound commented on #802
I created this helper package, let me know if it helps: https://github.com/guillenotfound/google-apis-authenticator

[2020-09-16 17:34] stephenplusplus commented on #808
@bcoe @JustinBeckwith do we support this form of auth anymore? Did we lose it one day and nobody noticed?

[2020-09-16 17:35] JustinBeckwith commented on #808
I honestly have no idea :/  I know the auth library supports it on some level

[2020-09-17 22:26] bcoe commented on #808
@stephenplusplus we support self-signed JWTs, is that what we'd expect this key file to be used for?

[2020-09-20 21:36] jamesvnz commented on #802
I'm getting a 404 when I go to that link.

[2020-09-21 08:28] guillenotfound commented on #802
Ooops, just made it public :)

The package is published [here](https://www.npmjs.com/package/google-apis-authenticator).

[2020-09-22 01:54] jamesvnz commented on #802
Thanks for sharing. That's more or less the functionality I was hoping that the standard Google library would be able to offer. I had wondered if it was possible to vend a valid JWT with the subject set to achieve what I wanted but I couldn't quite see how to do it.
I'd be interested if there are downsides / risks to having to give the service account the token creator role to make this work - oth

[2020-09-22 19:09] sofisl commented on #924
After doing some experimentation, I've confirmed that this should work:

[code]

Labeling it as UserRefreshClientOptions should eventually lead you [here](https://github.com/googleapis/google-auth-library-nodejs/blob/73f0b0f99a67ec099bc5e6f74f9396dcbadb7c32/src/auth/refreshclient.ts#L85) to authenticate properly.

[2020-09-22 19:09] #924 closed

[2020-09-25 23:44] charlievaughan opened #1060 "Where to find the correct API authentication URLs?"
I'm trying to use the code example below taken from the documentation to authenticate a Node app with the Dialogflow API. But I see this appears to be using a URL for the Google DNS API (https://dns.googleapis.com/dns/v1/projects). And I can see from my dashboard I'm making DNS API calls (while not fully authenticating).

Where do I find the correct URL for Dialogflow?

[code]

[2020-09-27 14:52] charlievaughan commented on #1060
I've continued to work on my problem and successfully managed to set up a local GOOGLE_APPLICATION_CREDENTIALS environment variable in my local bash profile as outlined in "Authenticating as a service account" https://cloud.google.com/docs/authentication/production .

The test samples in this guide as well as "gcloud auth application-default print-access-token": https://cloud.google.com/sdk/gcloud

[2020-09-29 21:21] wvanderdeijl commented on #1060
Have a look at the reference docs at https://cloud.google.com/dialogflow/es/docs/reference/rest
I hope that is what you’re looking for.

[2020-10-01 16:38] VanathiMK commented on #916
Is this working fine

[2020-10-06 10:01] ANUBHAV2142 opened #1063 "how to run the oauth script"
I want to generate access and refresh token dynamically. I don't know to run this module. I have entered the key.json file in oauth.js in samples and edited the package.json file by adding a "start : node oauth.js". I have also imported the "npm install google-auth-library" in samples and doing npm start next. It is running fine but then I am getting an error at browser "Missing required parameter

[2020-10-07 10:04] wvanderdeijl opened #1066 "Get AWS region for AwsClient from environment variable"
I see @bojeil-google is doing great work in the `byoid` branch to bring Workload Identity Federation to google-auth-library. I've been experimenting with it in a AWS Lambda function and ran into the issue that AwsClient is trying to invoke the AWS metadata service to get the region.

But when running in AWS Lambda, there is no metadata service. For the credentials itself the AwsClient first looks

[2020-10-07 15:17] wvanderdeijl commented on #1066
Another question I have is if the `byoid` branch is close to being merged into master and the next release of this library? We need to have our client (running on AWS) to access our Google Cloud resources and this new workload identity federation is a wonderful way to give them access without the need to exchange service account keys. We are actually postponing the release of our new version until

[2020-10-07 17:16] bojeil-google commented on #1066
Ah, interesting. I was not aware of this edge case in AWS lambda. I think we can check the `AWS_REGION` environment variable for existence first before calling the metadata server. I think that should solve our problem.

Thanks, @wvanderdeijl for trying this out and for your fix recommendation!

Regarding your second question, the feature is code complete but it going through some internal reviews

[2020-10-07 18:30] wvanderdeijl commented on #1066
Hopefully the #1067 PR is the way you want to go with the `AWS_REGION` check.

Thanks for the update on the progress and let's hope this lands in a couple of weeks 👍

Another thing I noticed is that all of the fields in `AwsOptions` are mandatory, but for most of the fields we could use a sensible default (like `subject_token_type`, `token_url`, `credential_source.environment_id`, `credential_sour

[2020-10-07 21:22] bhr opened #1068 "Authenticating with service account inside cloud function"
I've been trying to follow the code samples to get an access token from inside a cloud function for a service account. The goal is to pass that access token to another service which can then directly run functions through an ESP.

I've tried the following options without success:

### A
[code]

#### Error received in logs
`Error: [object Object] at Gaxios._request (/workspace/node_modules/gaxios/b

[2020-10-07 21:23] bhr opened #1069 "Authenticating service account in Cloud Function"
I've been trying to follow the code samples to get an access token from inside a cloud function for a service account. The goal is to pass that access token to another service which can then directly run functions through an ESP.

I've tried the following options without success:

### A
[code]

#### Error received in logs
`Error: [object Object] at Gaxios._request (/workspace/node_modules/gaxios/b

[2020-10-07 21:26] sofisl opened #1070 "an issue!"
Thanks for stopping by to let us know something could be better!

**PLEASE READ**: If you have a support contract with Google, please create an issue in the [support console](https://cloud.google.com/support/) instead of filing on GitHub. This will ensure a timely response.

1) Is this a client library issue or a product issue?
This is the client library for . We will only be able to assist with i

[2020-10-07 21:26] #1070 closed

[2020-10-07 22:38] bhr commented on #1069
It seems I created the issue twice. Closing this one. See #1068

[2020-10-07 22:38] #1069 closed

[2020-10-08 22:22] bhr commented on #1068
I eventually got around the issue by storing the service account email and private key in the environment config:

Here's the working example:
[code]

I am still wondering why **B** (using Compute with a service account email) didn't work.

[2020-10-10 06:14] wvanderdeijl commented on #1066
Yes, each Region consists of two or more zones. The metadata service returns the zone (with the extra letter) and the AWS_REGION env var is just the region without the letter. In fact, we’re already using this in our lambda’s by having a package.json dependency directly to the byoid branch

[2020-10-12 06:25] bojeil-google commented on #1066
Thanks for confirming!

[2020-10-12 12:01] jijoamt opened #1076 "Google message business token"
Can you please let us know how can we obtain a token for google business using the below code
What is the url to be used here. the scope we tried is 'https://www.googleapis.com/auth/businessmessages'

async function main() {
  const client = new JWT({
    email: keys.client_email,
    key: keys.private_key,
    scopes: ['https://www.googleapis.com/auth/businessmessages'],
  });
 const url = '';

[2020-10-12 18:50] sofisl commented on #1076
Hi there! That scope looks correct, from what I saw.

Is it possible for you to follow [this sample](https://github.com/googleapis/google-auth-library-nodejs/blob/master/samples/credentials.js) (not sure if you have any constraints using this code):

[code]

[2020-10-13 12:42] fatmali commented on #1032
hi @tak40548798 did you figure this out?

[2020-10-14 18:06] wvanderdeijl commented on #1066
This was fixed in #1067

[2020-10-14 18:06] #1066 closed

[2020-10-16 20:07] sofisl commented on #983
Hey @matthieusieben, thanks for creating this issue!

I'm looking into implementing this feature request, but I was wondering if you could clarify your use case for me a bit.

I'm curious why you're setting your credentials file to `credentials`, instead of `keyFileName` or `GOOGLE_APPLICATION_CREDENTIALS`. The issue is that the `credentials` property expects a response of type `Credential Body`,

[2020-10-16 20:23] sofisl commented on #983
Actually, I want to clarify something: it seems like it is a bug that we can't find the projectId from `keyFileName` (that I linked [earlier](https://github.com/googleapis/nodejs-bigquery/issues/799). But I just want to understand if there's a distinct use case why you would want to get projectId from `credentials` as well.

[2020-10-19 05:43] dr-aiuta commented on #916
maybe this could help

`const auth = new google.auth.GoogleAuth({
    keyFile: './service.json',
    scopes: [
      'https://www.googleapis.com/auth/contacts',...
    ],
    clientOptions: {
      subject: 'email@email.com'
    },
  });`

[2020-10-19 06:18] ANUBHAV2142 opened #1079 "Oauth Authorization error"
I am getting : Error 400: invalid_request
Missing required parameter: client_id
though i have given the client_id details in my key_credential.json file :

// Download your OAuth2 configuration from the Google
const keys = require('./key_credentials.json');

I have used outh2.js file from sample.

[2020-10-19 11:31] matthieusieben commented on #983
My use case is pretty simple: I instantiate the `Datastore` from inside a docker container, which is run using an environment variable that contains the whole `credentials` as a json string. Of course I could write that env variable in a key file before instantiating but that seems just wrong. I could also use another environment variable for the `project_id`, but since the env variable (which is

[2020-10-19 11:36] matthieusieben commented on #983
Consider the following code:

[code]

It feels weird because
1) It part of it is redundant
2) It requires to know the internals of `credentials`, which is not the case when using a key file.

[2020-10-19 18:01] sofisl commented on #983
I see - thanks for clarifying!

So, I'm still a bit confused about why you want to use the `credentials` property instead of the `keyFileName` property, even if your credentials are stored in a string.

Would this kind of code solve your use case? (assuming `GOOGLE_CREDENTIALS` is a string of your JSON credentials)?

[code]

This code currently doesn't work, due to [this bug](https://github.com/go

[2020-10-20 15:53] JustinBeckwith commented on #1013
Greetings @ile!  The tokens handler here never gets called because that code never asks for tokens :) Most of the token management in this library is automatic.  See:
https://github.com/googleapis/google-auth-library-nodejs#choosing-the-correct-credential-type-automatically

In that example, the call to `client.request` asks for tokens under the hood before making the request.  If the access token

[2020-10-20 15:53] #1013 closed

[2020-10-21 20:02] sofisl commented on #983
Hi @matthieusieben,

After lots of internal discussion, I think we've come up with a plan of attack for this bug:

1. There needs to be better and more consistent documentation as to how authentication gets done, and in what order of operations. I think one of the big reasons why we were getting so mixed up is because it is not clear what is by design or what is a bug.
2.  There is a real bug with

[2020-10-21 20:02] #983 closed

[2020-10-21 20:12] sofisl opened #1084 "bug: projectId is not loaded from keyfile in constructor"
When a user authenticates with a `keyFile` or `keyFileName` in the constructor of a given client, and does not have any other methods of default authentication, this library returns an error saying that `projectId` is not defined. However, keyFileName should expect a JSON file for service account credentials, which include a projectId.

Furthermore, I think we are expecting to grab a projectId fro

[2020-10-21 21:19] sofisl opened #1085 "fix documentation related to authentication strategy"
Related to #1084 and #983

How, and in what order of operations, are we authenticating in this library? We have a document describing how environment variables, constructors, etc., operate together, but what about order of operations within the constructor? For example, where do `keyfile`, `credentials`, and`clientOptions` fit in against the wider order of operations for authentication? When shoul

[2020-10-26 20:29] scschl opened #1092 "err.code type changes from 'string' to 'number'."
Thanks for stopping by to let us know something could be better!

**PLEASE READ**: If you have a support contract with Google, please create an issue in the [support console](https://cloud.google.com/support/) instead of filing on GitHub. This will ensure a timely response.

1) Is this a client library issue or a product issue?
This is the client library for . We will only be able to assist with i

[2020-10-27 15:17] bcoe commented on #1092
@scschl I would expect `error.code` to be a `number`, is the problem that the types indicate that it's a string?

[2020-10-28 18:59] scschl commented on #1092
Yes, it seems inconsistent that sometimes 'code' is a string and other times it's a 'number'.  The types indicate it should be a string:
I'm assuming that the error returned is of type RequestError (correct me if that's wrong):

export interface RequestError extends GaxiosError {
    errors: Error[];
}

export declare class GaxiosError<T = any> extends Error {
    code?: string;
    response?: Gax

[2020-10-28 19:02] scschl commented on #1092
Also, if it's expected to be a number, why is it explicitly converted to a string if the status is >=400  ?

else if (res && res.status >= 400) {
            // Consider all 4xx and 5xx responses errors.
            err.message = body;
            err.code = res.status.toString();

[2020-11-02 10:25] xiaoxia-github opened #1093 "Got invalid_grant within token expiration"
Hi there,

We are using 'googleapis' (version 43.0.0) & 'google-auth-library' (version 5.10.1) to refresh the token stored in our DB. We know that the expiration time is 1 hour so we'll do the refresh every 50 mins. I understand that it seems the refreshAccessToken() method has been deprecated, but it worked pretty well before the error happened, only recently it would frequently pop up the invali

[2020-11-03 01:13] blarralde commented on #662
For anyone having this same issue, here's the solution: https://stackoverflow.com/a/48121098/1389981

[2020-11-04 03:44] macropin commented on #786
Yes it works. At least with my testing with GCS.

[2020-11-11 11:10] oscarmon7 opened #1097 "Mixed Content error when requesting ID token from App Engine"
My frontend application is deployed in App Engine and is trying to obtain an ID token to authenticate into a service running in Cloud Run. The following two errors are triggered by method "getIdTokenClient":

_gaxios.ts:91 Mixed Content: The page at 'https://myapp-dev.nw.r.appspot.com/' was loaded over HTTPS, but requested an insecure resource 'http://169.254.169.254/computeMetadata/v1/instance'.

[2020-11-11 11:53] oscarmon7 commented on #1097
Actually, there is a second error generated in this same method invocation:

_Access to manifest at 'https://accounts.google.com/o/oauth2/v2/auth?client_id=622787071-f0r2o-long-url-here-qlyLfsNpDpn1Q9DUMUrg' (redirected from 'https://myapp-dev.nw.r.appspot.com/manifest.json') from origin 'https://myapp-dev.nw.r.appspot.com' has been blocked by CORS policy: No 'Access-Control-Allow-Origin' header i

[2020-11-15 08:21] wvanderdeijl commented on #1066
@bojeil-google not sure if you are still following this issue, but is there any update on an expected release date for the workload-identity-federation support? We are ready to have our clients start using this, but having them refer to a branch of this repo in their package.json dependencies doesn’t feel like the way to go 😄
Would be great if this lands in master soon.

[2020-11-16 05:52] bojeil-google commented on #1066
Hey @wvanderdeijl we apologize for the delay, we are trying to time it with the following:
- The GA launch for [workload identity pool](https://cloud.google.com/iam/docs/access-resources-aws) federation support.
- Support with other languages, such as [Python](https://github.com/googleapis/google-auth-library-python/tree/byoid), [Java](https://github.com/googleapis/google-auth-library-java/tree/3p

[2020-11-16 14:28] hom-bahrani opened #1098 "Mixed content error on Cloud Run when generating Google-signed OAuth ID token"
Hi, I'm following the [Securing Cloud Run services tutorial](https://cloud.google.com/run/docs/tutorials/secure-services), using my own react app deployed to cloud run as the client and chrome is blocking the request to generate an auth token because its expecting the request to be made with HTTPS instead of HTTP. Thanks

[2020-11-16 14:49] hom-bahrani commented on #1098
I noticed the client in the [example repo](https://github.com/GoogleCloudPlatform/nodejs-docs-samples/tree/master/run/markdown-preview/editor) is using a server rendered node.js express app. I'm guessing this library may not work on client side javascript frameworks like React?

Another part of the cloud run documentation uses a [different approach](metadataServerTokenURL) by making a request to a

[2020-11-17 16:37] #966 closed

[2020-11-17 16:39] bcoe commented on #966
@ad-m I just tested this in Cloud Shell, and it seems to be working now:

1. I opened Cloud Shell.
2. I installed the latest version of `googleapis`.
3. I ran `node`, to open a shell.
4. I ran your code `(new (require('google-auth-library').GoogleAuth)).getClient().then(client => client.fetchIdToken("http://google.com/")).then(token => console.log(token))`.

When I ran this code initially, I was g

[2020-11-18 03:37] mohan570 opened #1099 "Getting metadata from plugin failed with error: request to https://www.googleapis.com/oauth2/v4/token failed, reason: connect ECONNREFUSED 142.250.74.202:443',"
Hi Team,

In recently last two months only we are getting below error while using detectTextIntent method( const responses = await sessionClient.detectIntent(request); ) in detect.js file( https://github.com/googleapis/nodejs-dialogflow/blob/master/samples/detect.js ).

The Error,

ERROR: Error: Getting metadata from plugin failed with error: request to https://www.googleapis.com/oauth2/v4/token f

[2020-11-18 13:55] hom-bahrani commented on #1098
I managed to around this by creating another cloud run service to handle authentication between the React app and the backend API. It would be nice to be able to authenticate directly from the browser though without the added latency
<img width="733" alt="secure" src="https://user-images.githubusercontent.com/8465628/99539056-ac2e7300-29a5-11eb-8f84-1cb47a3e4b3d.png">

[2020-11-18 23:16] ad-m commented on #966
It works now. Looks like Google has improved the metadata server.

[2020-11-24 14:54] bcoe commented on #1098
@hom-bahrani it should be possible to make things work in a react-app, using webpack or rollup (see: [thread here](https://github.com/googleapis/google-cloud-node/issues/2933)).

This is something we'd like to make easier in the future.

[2020-11-24 14:54] #1098 closed

[2020-11-24 14:55] bcoe commented on #1099
@mohan570 in what environment are you running your cloud function, and could you share a gist with as close to possible the code that you're running?

[2020-11-24 15:49] hom-bahrani commented on #1098
Thanks @bcoe thats looks useful

[2020-11-24 17:55] nicoleczhu opened #1100 "getEnv should return `undefined` upon metadata server FetchError"
1) Is this a client library issue or a product issue?
client library

2) Did someone already solve this?
not yet

3) Do you have a support contract?
no

**Original customer issue here:**
https://github.com/googleapis/nodejs-logging/issues/811

#### Context
Other client libraries depend on getEnv() to do error handling and return `undefined` upon various errors. However, it seems that a FetchError

[2020-11-25 12:54] mohan570 commented on #1099
**Server**
Server : windows 2008 r2
Node js : 12.16.2
Node js Diaglogflow Client (mulitple agent via .env variables)

Frontend - Angular

[2020-11-25 17:02] bcoe commented on #1099
@mohan570 how frequently are you seeing this error, the failure to connect to `142.250.74.202` suggests an intermittent connectivity issue to Google's servers:

* do you connect through a corporate proxy, and if so do you have the `http_proxy` variable set.
* how many agents are you running in parallel?

[2020-11-25 17:32] mohan570 commented on #1099
-- do you connect through a corporate proxy, and if so do you have the http_proxy variable set.
    - http_proxy and https_proxy are set via npm proxy config set

- how many agents are you running in parallel?
   - 5

[2020-11-26 18:50] wvanderdeijl commented on #1097
I assume this mixed content warning is appearing in your client side browser application. Can you figure out where/why your client code is attempting to use the Google metadata service?
The JavaScript code you posted is running server side in nodejs, I assume? Then I see no way how that would influence your client side code.

Or are you including this google-auth-library in client side code? This

[2020-11-30 16:25] bcoe commented on #1099
@mohan570 could you run your application explicitly with these proxy variables set, e.g.,

[code]

I'm not sure whether the `npm proxy config` applies to requests outside of the `npm install`?

[2020-12-01 19:36] sofisl commented on #979
@tkatochin, first off, I want to apologize for how long it took to respond to this! It looks like the issue resolved itself, I see it in the file now (latest version):

![Screen Shot 2020-12-01 at 11 36 02 AM](https://user-images.githubusercontent.com/55454395/100788084-720f9900-33c9-11eb-9b21-eba1e87b4c72.png)

Can you confirm that it is working now? Thanks in advance.

[2020-12-02 10:46] beingminimal opened #1103 "Webpack support for google-auth-library"
#### Problem Statement
Hi,

We are trying to setup frontend and backend service communication through
https://cloud.google.com/run/docs/tutorials/secure-services#shipping-frontend.

In frontend service, we use webpack for transpiling our code.
When we try to use google-auth-library with webpack bundle we are receiving the below error

[code]
Please let us know how can we use OAuth Token-based comm

[2020-12-04 08:10] eadortsu commented on #150
Can you help me out, facing same issue with nuxt, and can't get it working. @brothatru

[2020-12-04 08:47] sofisl commented on #979
Hi @tkatochin, friendly ping! Otherwise I will close the issue soon. Thanks!

[2020-12-04 08:48] #979 closed

[2020-12-04 13:08] oscarmon7 commented on #1097
Hi Wilfred, thanks for your response. I am actually quite new to Reacty and node.js and I have used that library wrongly in the frontend. So, I think that's clear wrt to the Mixed content.
Second problem which I reported here (https://github.com/googleapis/google-auth-library-nodejs/issues/1097#issuecomment-725380646) is actually due to Cloud Run not supporting CORS as tracked by Google here: http

[2020-12-05 09:30] beingminimal commented on #1103
Hi @sofisl ,

Can you please look into this and provide us a solution?

Thanks

[2020-12-07 11:54] fhinkel commented on #959
Greetings, we're closing this. Looks like the issue got resolved. Please let us know if the issue needs to be reopened.

[2020-12-07 11:54] fhinkel commented on #949
Greetings, we're closing this. Looks like the issue got resolved. Please let us know if the issue needs to be reopened.

[2020-12-07 11:54] #949 closed

[2020-12-07 11:54] fhinkel commented on #898
Thanks for filing the issue on the issue tracker. Closing this.

[2020-12-07 11:54] #898 closed

[2020-12-07 11:55] fhinkel commented on #868
Greetings, we're closing this. Looks like the issue got resolved. Please let us know if the issue needs to be reopened.

[2020-12-07 11:55] #868 closed

[2020-12-07 11:55] fhinkel commented on #836
Greetings, we're closing this due to inactivity. Please let us know if the issue needs to be reopened.

[2020-12-07 11:55] #836 closed

[2020-12-07 11:55] fhinkel commented on #802
Greetings, we're closing this due to inactivity. Please let us know if the issue needs to be reopened.

[2020-12-07 11:55] #802 closed

[2020-12-07 11:56] fhinkel commented on #786
Greetings, we're closing this. Looks like the issue got resolved. Please let us know if the issue needs to be reopened.

[2020-12-07 11:56] #786 closed

[2020-12-07 11:56] fhinkel commented on #764
Greetings, we're closing this. Looks like the issue got resolved. Please let us know if the issue needs to be reopened.

[2020-12-07 11:56] #764 closed

[2020-12-07 11:56] fhinkel commented on #662
Greetings, we're closing this. Looks like the issue got resolved. Please let us know if the issue needs to be reopened.

[2020-12-07 11:56] #662 closed

[2020-12-07 11:57] fhinkel commented on #1016
Greetings, we're closing this due to inactivity. Please let us know if the issue needs to be reopened.

[2020-12-07 11:57] #1016 closed

[2020-12-07 11:58] fhinkel commented on #1037
Greetings, we're closing this. Looks like the issue got resolved. Thank you for the PR @nicolasdao  Please let us know if the issue needs to be reopened.

[2020-12-07 11:58] #1037 closed

[2020-12-07 12:09] JakubVanek commented on #959
Hello, it's not exactly resolved. The application in question currently requires each end user to create their own GoogleAPI developer application. This makes the application setup a lot more involved than it would otherwise be.

[2020-12-07 16:33] bcoe commented on #1016
👋  a few years ago while at npm, I [wrote this](https://www.npmjs.com/package/hide-secrets) for hiding secrets when logging objects.

It's bit out of date, but might be worth looking at for inspiration.

[2020-12-07 19:49] sofisl commented on #1044
Hi @BesthaSwapna,

Without knowing more information, here is the [documentation](https://developers.google.com/identity/protocols/oauth2) for our OAuth2.0 flow.

I don't believe you should need to explicitly set a new access_token from a refresh_token to make further requests. You can continue making requests using a refresh token, see [here](https://github.com/googleapis/google-auth-library-nodej

[2020-12-07 19:49] #1044 closed

[2020-12-08 09:20] fhinkel commented on #959
Ok, re-opening. Thanks for letting us know!

[2020-12-08 18:23] bcoe commented on #1103
@beingminimal our client libraries, at this time, do not fully support usage in a frontend context. We make an effort to make this possible, but we don't run integration tests against webpack, nor do we provide many samples for running our libraries in the browser.

Having said this, we do make an effort to make our libraries function with Webpack when possible. The problem you're bumping into her

[2020-12-08 18:23] #1103 closed

[2020-12-08 18:37] sofisl commented on #1076
Hi there, I'm going to close this for now, feel free to reopen if you don't have a solution.

[2020-12-08 18:37] #1076 closed

[2020-12-08 18:59] sofisl commented on #1039
@nicolasdao, I don't think we ever clarified why would need that ID token directly as a common use case (see #1038), so I'm going to go ahead and close this issue for now. Thanks for submitting a PR, it sparked a very interesting conversation internally!

[2020-12-08 18:59] #1039 closed

[2020-12-08 23:01] nicolasdao commented on #1039
Thanks, @sofisl.

I needed that id_token to explicitly call a private Cloud Run API. Private CR APIs can be called between them when their respective service accounts are configured with the appropriate role (e.g., cloudrun/invoke), but cannot be called from the internet via the usual access_token in the Authorization header method. Instead, you must use the id_token (which I find weird as this is

[2020-12-09 23:55] sofisl commented on #1060
Thanks for stepping in, @wvanderdeijl! @charlievaughan, I think those documents linked above are the ones you are looking for.

I'll close this issue for now, but if you want to point to exactly what you're looking to do with DialogFlow,  I can reopen with a more specific answer/code snippet.

Thanks!

[2020-12-09 23:55] #1060 closed

[2020-12-10 00:14] sofisl commented on #1063
Hi @ANUBHAV2142,

 Can you confirm that the file you're using has OAuth credentials? If you haven't set it up, you can do so by visiting your Cloud Console, then navigating to APIS & Services > Credentials. From there, you should be able to either create or download an OAuth Client ID.

As a side note,  you shouldn't need to add a script to package.json to run this module. Simply go to the samples

[2020-12-10 00:14] #1063 closed

[2020-12-10 00:22] sofisl commented on #1068
Hi @bhr,

I'm glad you found a workaround, and sorry for the wait!

As for why B wouldn't work, I think it's because the auth library needs more information in order to authenticate your account. Here are some ways to authenticate:

[code]

Could you include the tutorial or samples you were following, to see if there's areas to better clarify or update? Thanks in advance!

[2020-12-11 03:25] sofisl commented on #1068
@bhr, feel free to reopen this issue with that documentation if you want us to address the confusion. Thanks!

[2020-12-11 03:25] #1068 closed

[2020-12-17 03:12] pankajmt opened #1107 "Cloud Functions - GoogleAuth.getIdTokenClient() reports Error: Could not load the default credentials. Browse to https://cloud.google.com/docs/authentication/getting-started for more information."
Thanks for stopping by to let us know something could be better!

**PLEASE READ**: If you have a support contract with Google, please create an issue in the [support console](https://cloud.google.com/support/) instead of filing on GitHub. This will ensure a timely response.

1) Is this a client library issue or a product issue?
client library

2) Did someone already solve this?
I have followed the

[2020-12-17 05:25] pankajmt commented on #1107
Logs

request IAP**** https://gb-plat-poc-spaces-pt-poc-v3.ts.r.appspot.com/scan with target audience**** <abracadabra>.apps.googleusercontent.com

Error: Could not load the default credentials. Browse to https://cloud.google.com/docs/authentication/getting-started for more information. at GoogleAuth.getApplicationDefaultAsync (/srv/node_modules/google-auth-library/build/src/auth/googleauth.js:157

[2020-12-18 01:39] #980 closed

[2020-12-18 07:29] sofisl commented on #1107
Hi @pankajmt, would you be able to set an environment variable to get your service account credentials? Or, could you set your  service account when you create a new instance, like so:

[code]

Could you also clarify what endpoint you're calling with this? `SCAN_SERVICE_URL`

Thanks!

[2020-12-18 10:27] fabiomig commented on #916
@dr-aiuta you save my life!! After hours of searching... Not sure why Google don't put this on docs...

[2020-12-18 10:41] Justkant commented on #133
Just stumbled upon this issue, a DNS cache (https://github.com/axios/axios/issues/1878) could help mitigate issues like that.
More links from the issue:
- https://medium.com/@amirilovic/how-to-fix-node-dns-issues-5d4ec2e12e95
- https://github.com/tcollinsworth/axios-cached-dns-resolve

[2020-12-21 06:44] pankajmt commented on #1107
but the cloud function already runs as a service account and should have the credentials available at runtime for the library to use? https://cloud.google.com/functions/docs/securing/function-identity - when making requests to Google Cloud Platform services using the Google Cloud Client Libraries, Cloud Functions can automatically obtain and use tokens to authorize the services this identity has p

[2020-12-21 15:38] tiagocorreiaalmeida commented on #987
@dpkjain have you figured out what's wrong? Facing the same issue

[2020-12-21 22:33] bcoe commented on #1107
@pankajmt could you share the source of your Cloud Function in a gist?

[2020-12-21 23:29] bcoe commented on #916
@fabiomig is @dr-aiuta's example working for you? It sounds like we definitely should document this approach in the docs.

[2020-12-22 05:50] pankajmt commented on #1107
Sure.

So its this code https://github.com/GoogleCloudPlatform/docker-clamav-malware-scanner/blob/4d020bdf24219dd194ab0b9a30c2b6cd16a7f8bb/function-scantrigger-node/index.js being modified to work with an Identity-Aware Proxy protected Public App Engine Endpoint. "CHANGES" below is where I am trying to do what is documented [here](https://cloud.google.com/iap/docs/authentication-howto#obtaining_an

[2021-01-07 21:06] pankajmt commented on #1107
Any thoughts on this one?

[2021-01-08 04:54] bcoe commented on #1107
@pankajmt thank you for providing the example, nothing is immediately jumping out at me. We'll do our best to reproduce on our end, and will keep this thread updated.

[2021-01-08 06:06] pankajmt commented on #1107
Thanks!

On Fri, Jan 8, 2021 at 3:54 PM Benjamin E. Coe <notifications@github.com>
wrote:

--
पंकज एम तोलानी

[2021-01-10 18:33] realestninja opened #1111 "[JWT authentication for google photos] 403 - 'Insufficient Permission'"
When running the first example from the JWT part from the README, I keep getting a 403:

[code]

My code is pretty much the first JWT part in the README with the photos scope:

[code]

I have created a service account and downloaded it's JWT. I tried granting it different roles like "Service Account User" and currently just as "Owner". But in the end I just keep getting the 403. I am not sure if s

[2021-01-11 19:01] sofisl commented on #1111
Hi @realestninja,

Can you clarify exactly what you're trying to do (with the photos API)? Normally, you wouldn't call this code sample directly, but instead use the `getClient()` method. See [this](https://github.com/googleapis/google-api-nodejs-client/blob/master/samples/jwt.js) code sample for more details.

[2021-01-12 18:48] bogdancss opened #1112 "How to use this with webmaster to access Google Search Console API?"
Hello,

I am trying to authorise `webmaster` requests to access data from the Google Search Console API using the Service Account keys.

I have created a service account, enabled G Suite Domain-wide Delegation and created JSON keys. Providing these keys to auth and then calling the webmaster query results in a 403 Forbidden error.

Here's the sample code I am trying to run:

[code]
As mentioned, t

[2021-01-12 22:23] jbgrunewald opened #1113 "Library Does not work with User Account Credentials"
Thanks for stopping by to let us know something could be better!

**PLEASE READ**: If you have a support contract with Google, please create an issue in the [support console](https://cloud.google.com/support/) instead of filing on GitHub. This will ensure a timely response.

1) Is this a client library issue or a product issue?
No, this is specific to generating authenticated tokens with user acco

[2021-01-13 06:49] sofisl commented on #1113
Hi @jbgrunewald, I think what's going on is that you're authenticating with two different accounts between the first and second step, and they are probably trying to authenticate different accounts from different environments. Read more about the commands [here](https://cloud.google.com/sdk/gcloud/reference/auth/application-default/login) and [here](https://cloud.google.com/sdk/gcloud/reference/au

[2021-01-13 15:06] hideto0710 opened #1114 "x-goog-user-project header has gone in second request"
#### Environment details

  - OS: macOS BigSur 11.1
  - Node.js version: v14.15.3
  - npm version: 6.14.10
  - `google-auth-library` version: 6.1.4

#### Steps to reproduce

1. `gcloud auth application-default set-quota-project MY_PROJECT_ID`
2.
[code]
3.
[code]

As a result, I got the following error in **second** request.
[code]

Any help would be appreciated.

[2021-01-13 20:29] jbgrunewald commented on #1113
@sofisl I agree that I was making an error by authenticating twice with two different accounts. I tried each individually and still received the same error.

I also used the --update-adc  with the option to explicitly overwrite the ADC when running the auth command.

[code]

Fundamentally, this error doesn't tell me there's a permissions issue. This is telling me that it can't find the format it's

[2021-01-14 17:34] realestninja commented on #1111
I get

I want to get the URLs of photos from photo albums. They keep changing every hour or so. The idea is to have a backend api that fetches the requested photo album and serves the image URLs. I can't find anything related to google photos in the jwt samples. Is it even possible?

[2021-01-14 18:07] sofisl commented on #1114
Hi @hideto0710,

Do you have a service account that you could use to test out this solution? If not, you can login to your console through `APIs & Services`>`Credentials`>`Create Credentials`>`Service Account`.

Then, instead of running `gcloud auth application-default set-quota-project MY_PROJECT_ID`, try the following:

1. `gcloud auth activate-service-account <service-account-email> --key-file=

[2021-01-14 21:50] hideto0710 commented on #1114
Thanks for your reply!

Yes, for now I use service account credential.
But I want to use end user ADC because I am developing CLI tool, and downloading service account credential per user is insecure I think.

Python SDK [supports `quota_project_id` option](https://googleapis.dev/python/google-api-core/latest/client_options.html#google.api_core.client_options.ClientOptions). Also [golang SDK](http

[2021-01-15 18:14] realestninja commented on #1111
Nevermind, things seem to have cleared themselves up :)

[2021-01-15 18:14] #1111 closed

[2021-01-16 06:15] hideto0710 commented on #1114
I think we have to call `addSharedMetadataHeaders` when `isTokenExpiring` is false.
https://github.com/hideto0710/google-auth-library-nodejs/commit/699282f726871318ec44d03beb73fb7ed8e25480

I will try to write some tests.

[2021-01-19 05:04] longmaba commented on #987
Same issue here guys

[2021-01-19 15:08] glebsts commented on #677
Ran into same situation - our token is provided by hashicorp vault which app access by assuming some pod-embedded AWS roles, so we would like to set token manually and refresh also is our to manage. How can I put token or implement this `tokenSource` mentioned above?

[2021-01-21 10:26] aareshchanka commented on #808
@bcoe java sdk supports P12/PEM file formats, it looks there like
`new GoogleCredential.Builder().setTransport(transport)
        .setJsonFactory(jsonFactory)
        .setServiceAccountId(serviceAccountId)
        .setServiceAccountScopes(serviceAccountScopes)
        .setServiceAccountPrivateKeyFromP12File(p12File)
        .build();`
We are trying to migrate our code to nodejs, but not able to ru

[2021-01-21 12:54] forking-renovate[bot] opened #1118 "Action Required: Fix Renovate Configuration"
There is an error with this repository's Renovate configuration that needs to be fixed. As a precaution, Renovate will stop PRs until it is resolved.

Error type: undefined. Note: this is a *nested* preset so please contact the preset author if you are unable to fix it yourself.

[2021-01-21 15:10] #1118 closed

[2021-01-21 21:47] bcoe commented on #808
@aareshchanka we have several tests related to authenticating a client with a PEM or P12 format certificate:

https://github.com/googleapis/google-auth-library-nodejs/blob/9116f247486d6376feca505bbfa42a91d5e579e2/test/test.jwt.ts#L114

Do you run into an error if you use these as an example.

[2021-01-21 22:07] bshaffer commented on #1113
@jbgrunewald the reason we throw this error is that as of a year ago, ID tokens cannot be fetched using `gcloud` credentials.

They CAN be fetched using client credentials, but the use-case there is very fringe: you would be asking an end-user to grant you permission to get ID tokens on their behalf.

[2021-01-22 10:46] thernstig opened #1119 "Rely on less npm dependencies"
**Is your feature request related to a problem? Please describe.**
The google auth libs depends on a lot of dependencies. A common pattern in the npm community is to try to rely on less dependencies. Organizations might sometimes have to approve all dependencies from FOSS, which takes a considerable amount of time. Less dependencies can also mean less security holes.

 **Describe the solution you'

[2021-01-22 17:27] JustinBeckwith commented on #1119
Greetings, and thanks for the feedback!  We've already trimmed the dependency graph in this library down a considerable bit over the last few years, and it's really down to a list of things we *need*.  To the specific `gaxios` question - we actually [make this module](https://github.com/googleapis/gaxios) - it uses `node-fetch` under the hood, and adds a very minimal number of deps to make proxyin

[2021-01-22 17:27] #1119 closed

[2021-01-22 17:34] JustinBeckwith commented on #1119
Also, lol for fun, this is what it looked like a few years ago, with a 200ms load time:
![image](https://user-images.githubusercontent.com/534619/105524789-00e7b600-5c95-11eb-9bc9-aa5850032db5.png)

[2021-01-22 19:49] #808 closed

[2021-01-22 22:57] rikinshah23 commented on #150
I am getting the same error but this didn't fix it for my next.js applicaion.
[code]
Could anyone please help in setting up my next.js app for server less build?
Thanks

[2021-01-23 03:36] jbgrunewald commented on #1113
Yeah that’s what I’ve gathered. My take away so far is that we are using IAP for service to service communication sometimes, but that’s not really it’s strong suite.

James Grunewald

[2021-01-23 03:38] #1113 closed

[2021-01-27 00:58] #1114 closed

[2021-01-29 00:24] john-ballon commented on #916
@bcoe, @dr-aiuta's approach worked for me.  Also working for me is the following (Calendar API specific example):
[code]

Bear in mind it impersonates a user, not a separate Service Account.  I was only able to find this info on SO/here/a couple of blogs.  It would be helpful if it were documented if it isn't already.

[2021-02-01 18:47] rodrigogoncalves commented on #71
Please @JustinBeckwith, do not assign this to me.

[2021-02-01 22:20] tbhaxor opened #1126 "getRequestHeaders() not returning updated access token"
https://github.com/googleapis/google-auth-library-nodejs/blob/79355a7eef3acfca8536f0e6d8aab7c5f67b38fa/src/auth/oauth2client.ts#L700

I guess its marked deprecated by mistake. Actually i tried using getToken and getRequestHeaders they both are returning expired access_token in my case even though I have valid refresh token

[2021-02-01 23:15] KolCrooks commented on #706
@JustinBeckwith Hey Justin. I'm not really sure why I was assigned this issue. I updated a while ago that this was a problem not with this library, but with the method that I used to get the token. If you need me to add anything I can do so but this problem is from a long time ago and I am not sure if I even have the code.

[2021-02-02 01:00] romarioj2h opened #1127 "Error: Internal error encountered."
#### Environment details

  - OS: Ubuntu 18.04 5.4.0-1037-oracle
  - Node.js version: v8.10.0
  - npm version: 3.5.2
  - `google-auth-library` version: 6.1.6

#### Steps to reproduce

  1. Trying to insert an item into a YouTube playlist
  2. Occurs sporadically

Additional details

[code]

translatedResponse object:

[code]

[2021-02-03 18:32] tbhaxor commented on #1126
@bcoe sweet ping :smile:

[2021-02-04 01:07] bcoe commented on #1126
@tbhaxor what are you attempting to do?

If you're trying to get auth headers, which you could then populate in an HTTP request, I think you want `getRequestHeaders`.

If you just want to make a request to a protected endpoint, I think you might want to use something like this as a starting point:

[code]

You shouldn't need to be calling `refreshAccessToken` yourself, as it will be called automat

[2021-02-04 02:04] bojeil-google opened #1132 "Use IAM client SDK for externalclient-setup script"
Action item from: https://github.com/googleapis/google-auth-library-nodejs/pull/1131

We need to switch to using IAM client SDK once v1 API has all the v1beta changes.

https://cloud.google.com/iam/docs/reference/rest/v1beta/projects.locations.workloadIdentityPools
https://github.com/googleapis/google-api-nodejs-client/tree/master/src/apis/iam

This is used to setup workload identity pools for ext

[2021-02-04 08:52] tiwalayo opened #1133 "Is there a way to batch requests?"
The way I have been using the client thus far has been like

[code]
Since `resp` holds a list of message ids, I will have to use [`users.messages.get`](https://developers.google.com/gmail/api/reference/rest/v1/users.messages/get) to get the actual data for each message. I would prefer not to do hundreds of separate requests just for one query. Is there a way to batch the `users.messages.get` reque

[2021-02-04 23:52] tbhaxor commented on #1126
@bcoe All I want to do is get the access token

This is the class method I am using for it
[code]

[2021-02-04 23:53] tbhaxor commented on #1126
Previously I have this function only, but I realised that it is not refreshing token As after 1hr of granting time, When I run `getRequestHeaders` I get same expired token

[2021-02-05 13:33] cpcallen commented on #636
Not sure why this has been assigned to me now.  As I noted almost two years ago, it appears to have been previously fixed.

I'm unassigning this for now, but feel free to reassign it to me (with an explanation) if there is some reason it really does need my attention.

[2021-02-05 17:52] bcoe commented on #1126
@tbhaxor `getRequestHeaders`, as far as I know, should be refreshing the access token. This sounds like a bug.

[2021-02-06 00:23] tbhaxor commented on #1126
So will it get fixed soon?

[2021-02-06 09:50] sofisl commented on #1127
Hi @romarioj2h, can you share your code snippet to reproduce? Thanks!

[2021-02-07 20:58] romarioj2h commented on #1127
Hi @sofisl, you can check the code at https://github.com/romarioj2h/top40ukgenerator/blob/master/youtube/playlistItems.js#L22

[2021-02-09 07:52] MobileApp631 commented on #1099
---
Hi Bcoe,

still its not working getting error, find below

FetchError: request to https://www.googleapis.com/oauth2/v4/token failed, reason: connect ECONNREFUSED 142.250.74.202:443
2021-02-08 14:50 +01:00:     at ClientRequest.<anonymous> (\API\node_modules\node-fetch\lib\index.js:1444:11)
2021-02-08 14:50 +01:00:     at ClientRequest.emit (events.js:310:20)
2021-02-08 14:50 +01:00:     at TLS

[2021-02-09 18:54] bcoe commented on #1099
@MobileApp631 could you please provide a minimal example of the code that is not working for you?

Also, if possible, could you provide an example of the command you are using to start the application? how are the proxy variables being set?

[2021-02-10 16:30] tbhaxor commented on #1126
@bcoe sweet ping 😄

[2021-02-11 04:15] sofisl opened #1144 "checking blunderbuss"
Thanks for stopping by to let us know something could be better!

**PLEASE READ**: If you have a support contract with Google, please create an issue in the [support console](https://cloud.google.com/support/) instead of filing on GitHub. This will ensure a timely response.

1) Is this a client library issue or a product issue?
This is the client library for . We will only be able to assist with i

[2021-02-11 04:15] #1144 closed

[2021-02-16 00:12] nicksinai commented on #364
I would also like to know how to refresh an idToken.

I'm verifying the idToken to protect api routes in node, and since they expire I need to refresh them.

[2021-02-17 01:23] bcoe commented on #1126
@tbhaxor my colleague and I were just discussing issues like this today.

@sofisl was able to fetch and use the `refresh_token` using an approach [like this](https://github.com/googleapis/google-api-nodejs-client/issues/2330#issuecomment-778531366).

Have you tried this approach of listening on `tokens` events?

[2021-02-18 13:33] tbhaxor commented on #1126
@bcoe Awesome.

I didnt know about this event. Will try and let you know

[2021-02-18 17:31] bcoe commented on #1126
@tbhaxor our intention is to spend a few days this quarter making sure that token refresh logic is as intuitive as possible (regardless of the approach you're using).

But, I'm hoping `tokens` can unblock you for now.

[2021-02-23 16:28] leandro-manifesto opened #1145 "Auth: Export AuthClient"
My code uses `GoogleAuth.getClient()` to return a client to authorize requests to Google APIs.

This is the current implementation:
[code]

After upgrading to `7.0.0` it became a compile error because the return type of `getClient()` changed to `Compute | JWT | UserRefreshClient | BaseExternalAccountClient` when `cachedCredentials` was changed to `JSONClient | Compute | null` in #1052.

The fixed

[2021-02-23 17:44] sofisl commented on #1145
Thanks for the report, @leandro-manifesto.

@bcoe, sounds like we can work on this issue during our auth fixit in March.

[2021-02-24 21:45] crwilcox commented on #798
Also adding, if you find that this is happening, you may consider using https://www.npmjs.com/package/is-online. Some serverless environments, kubernetes, will 'come up' before having connectivity and, since most apps start with auth, it will fail. Making sure you have outbound connectivity first can resolve this.

[2021-03-05 12:21] johnwargo commented on #610
@MGCataldo thanks for that code sample, I think this is exactly [what I need](https://stackoverflow.com/questions/66492256/using-firebase-functions-typescript-and-a-domain-wide-delegated-service-accoun) for a project I'm working on. Looking at the code though, you create a `client` constant which doesn't seem to be used anywhere in the sample. Can you explain what its purpose is?

[2021-03-09 06:18] Bhargav704 commented on #981
@bolds07  How it started working for you ? can you please explain how you resolved it ?

[2021-03-11 02:02] bcoe commented on #1145
@leandro-manifesto I'm curious why you can't just use `googleAuth.getClient();` directly, vs., wrapping it in a helper?

[2021-03-12 20:51] leandro-manifesto commented on #1145
One of our scripts uses cached global clients for different identities/scopes.
Some are ID token clients as well.

I don't think it's the best approach, but that's what we had at the time.

[2021-03-13 19:26] HeckMarques commented on #359
Yes, You can edit as environment variables directly in the Google Cloud Computing console, in Edit Function this option appears.

[2021-03-15 00:16] JustinBeckwith commented on #1127
Greetings @romarioj2h!  Sadly, this probably isn't something we can directly help with.  If the error is sporadic, and the result is a HTTP 500, it means there's something happening on the back end, independent of this library.  I'd suggest checking out the support channel for the YouTube API, where it looks like they direct folks through StackOverflow:
https://developers.google.com/youtube/v3/sup

[2021-03-15 00:16] #1127 closed

[2021-03-15 00:18] JustinBeckwith commented on #1099
Closing due to inactivity

[2021-03-15 00:18] #1099 closed

[2021-03-17 08:53] KAEOnIt commented on #283
Hi All, Same problem on my side and It works when disabling the Firewall. I've authorised ports 5228 to 5230 and tried again with no success. Does any one solved the issue? To me Oauth is HTTPS so should works tru 443.
Thx

[2021-03-24 22:15] sofisl commented on #1084
Some more notes about this bug:

You will get an error saying `Project ID is not defined` for any property in the constructor that is not defined. The actual error you'll get if you use the correct property (`keyFilename`) is

[code]

Furthermore, this bug acts differently in different libraries. In nodejs-secret-manager, for example, it will show this:

[code]

I didn't recognize this Project ID,

[2021-03-25 08:25] zawnk opened #1152 "Combining axios with JWT instead of using gaxios"
I'm planning on doing a request class that optionally takes the JWT as a parameter. If it is omitted, the request will be a regular http request via axios. If the JWT is given, I want to still use regular axios but add the authentication from the JWT to it. Is it enough in this case to just use `.getRequestHeaders()` on the JWT or is there a better way to do it? Or will I run into problems doing i

[2021-04-01 02:08] sofisl commented on #1084
After doing some more digging, it seems like there's a few different issues happening that are muddying the waters:

1. Not providing a project ID when required as an argument to the function. This causes a similar error as the ones described above, however it should not be counted in the description of this bug.
2. Not properly setting the constructor (`keyFileName` vs. `keyFilename`)
3. Some lib

[2021-04-01 18:46] #1084 closed

[2021-04-04 17:07] Rigidoont opened #1154 "Missing sourcemaps"
At the end of every `.js` file there is a URL to their source maps, but there are no sourcemaps present in the installed package directory.

For example, at the end of the file  `node_modules\google-auth-library\build\src\auth\authclient.js` there is a row:
`//# sourceMappingURL=authclient.js.map`

That `sourceMappingURL` is pointing to a non-existent file. Chrome devtools' console is complaining

[2021-04-05 18:57] nicoleczhu opened #1155 "GCPEnv to detect more GCP services"
GCPEnv detects cloud run as compute engine.
Can the library look for unique env vars like K_CONFIGURATION to classify other services

[2021-04-15 21:24] tmatsuo commented on #1079
@ANUBHAV2142 Sorry for the late reply. I think the sample is tested and working fine in our builds.
Can you share reproducible code for us?

[2021-04-21 22:10] Jose-DM commented on #916
Thank you much.

[2021-04-23 16:57] sofisl commented on #1092
Hi there, thanks for submitting this bug! I can confirm that this is happening. Since `GaxiosError` expects code to be a [string](https://github.com/googleapis/gaxios/blob/18a48fc298c8d0e707b7f6e5cd892cb7c239f1db/src/common.ts#L21), it seems like this is indeed a bug.

I've addressed it in #1165.

[2021-04-23 16:57] #1092 closed

[2021-04-26 18:49] Aymkdn commented on #1093
Any updates on that one?

[2021-04-27 16:17] SurferJeffAtGoogle commented on #792
@bshaffer Can we close this issue?

[2021-04-27 16:20] bshaffer commented on #792
Yes!

[2021-04-27 17:03] #792 closed

[2021-04-27 17:03] AndyClausen commented on #792
Gotchu

[2021-04-27 21:08] bcoe commented on #1093
@xiaoxia-github @Aymkdn from the Google APIs OAuth 2.0 page:

Do you potentially still have your app set to testing?

[2021-04-27 21:13] bcoe commented on #1093
@xiaoxia-github also, would you be able to use the latest version of the `googleapis` library? We've fixed a variety of bugs related to refreshing tokens in the past couple years.

[2021-04-27 21:16] Aymkdn commented on #1093
Yes, indeed, my project is in test (it's for personal use and I'm the only tester). I used the `refreshAccessToken()` and it's working for now... I'll see what will happen in 1 week.

[2021-04-28 23:11] bcoe commented on #1093
@xiaoxia-github closing this for now, due to inactivity, please let me know if you're continuing to bump into issues:

1. after switching your app to a non-test account.
2. ensuring you're on the latest version of the client.

---

@Aymkdn the refresh token itself expires in 7 days, so you will find that it you stop being able to get an access token after that time. You will need to switch your pr

[2021-04-28 23:11] #1093 closed

[2021-04-30 12:27] Aymkdn commented on #1093
Thanks, @bcoe 👍

How to switch a project off test without deploying it to all? Is the "alpha" release enough?
![image](https://user-images.githubusercontent.com/946315/116694828-0b19fe80-a9c0-11eb-89f8-2072aa955bc0.png)

If it's something else that needs to be done, I'd appreciate if you can give me a direction?

[2021-05-04 00:19] bcoe commented on #1092
@scschl we intend to address this issue, but all the fixes we could think of would be a breaking change for many of our libraries.

Are you able to workaround the issue today by running `Number(err.code)`, and in the next major release for our libraries we will sort out these conversion issues?

[2021-05-04 05:03] manwithsteelnerves commented on #1119
Just adding for reference, we see around 350+ ms for loading the auth library when running on cloud functions(default config)
![Screenshot 2021-05-04 at 10 31 09 AM](https://user-images.githubusercontent.com/5437614/116962591-073df300-acc4-11eb-95c0-675a22435693.png)

Any tips on how to reduce it further? or any minify option of the library available(I'm using this module as a dependency on my ser

[2021-05-04 21:44] bcoe commented on #1097
@oscarmon7 you cannot connect to the metadata server from the context of your React application, the special metadata server is only available from within the GCP network, whereas your frontend application is running on whatever server your users computer happens to be running on.

---

What I recommend researching is how to configure sessions in a react application, there are many tutorials on th

[2021-05-04 21:45] #1097 closed

[2021-05-06 02:11] Emre-Arikan commented on #1097
@bcoe My Vuejs frontend in Vue und Flask backend are both in GCP network behind IAP. And my frontend needs a google auth token in order to communicate with backend. So what's wrong with that?

[2021-05-06 02:13] Emre-Arikan commented on #1097
@oscarmon7 how did you solve that problem?, I have a similar case right now:  My Vuejs frontend in Vue und Flask backend are both in GCP network behind IAP. And my frontend needs a google auth token in order to communicate with backend.

[2021-05-07 08:34] flaky-bot[bot] opened #1170 "pack and install: "before all" hook: should be able to use the d.ts for "should be able to webpack the library" failed"
This test failed!

To configure my behavior, see [the Flaky Bot documentation](https://github.com/googleapis/repo-automation-bots/tree/master/packages/flakybot).

If I'm commenting on this issue too often, add the `flakybot: quiet` label and
I will stop commenting.

---

commit: 241063a8c7d583df53ae616347edc532aec02165
buildURL: [Build Status](https://source.cloud.google.com/results/invocations/66

[2021-05-07 08:34] flaky-bot[bot] opened #1171 "pack and install: "after all" hook: cleanup staging for "should be able to webpack the library" failed"
This test failed!

To configure my behavior, see [the Flaky Bot documentation](https://github.com/googleapis/repo-automation-bots/tree/master/packages/flakybot).

If I'm commenting on this issue too often, add the `flakybot: quiet` label and
I will stop commenting.

---

commit: 241063a8c7d583df53ae616347edc532aec02165
buildURL: [Build Status](https://source.cloud.google.com/results/invocations/66

[2021-05-11 19:38] sofisl commented on #1171
Looks like a flake, it's been running [fine since.](https://fusion2.corp.google.com/invocations;query=target:cloud-devrel%2Fclient-libraries%2Fnodejs%2Fnightly%2Fgoogleapis%2Fgoogle-auth-library-nodejs%2Fnode12%2Fsystem-test)

[2021-05-11 19:38] #1171 closed

[2021-05-11 19:39] sofisl commented on #1170
Looks like a flake, see logs [here.](https://fusion2.corp.google.com/invocations;query=target:cloud-devrel%2Fclient-libraries%2Fnodejs%2Fnightly%2Fgoogleapis%2Fgoogle-auth-library-nodejs%2Fnode12%2Fsystem-test)

[2021-05-11 19:39] #1170 closed

[2021-05-18 23:59] masterhood13 commented on #987
also have this issue

[2021-05-19 10:49] adriano-di-giovanni opened #1175 "revokeCredentials returns an error for invalid token"
As per the [docs](https://github.com/googleapis/google-auth-library-nodejs#oauth2)

Unlike all other requests, the library doesn't refresh the token for `revokeCredentials`. It also doesn't retry the request.

[2021-05-19 16:38] tmatsuo commented on #1175
I have a question. I think `revokeCredentials` is for revoking the credentials. If the token is expired, is there a need to refresh the token and then retry? Can you just throw away the token and the credentials from the memory?

[2021-05-19 17:30] adriano-di-giovanni commented on #1175
AFAIK, revokeCredentials also removes third-party access. It’s something that doesn’t happen automatically when the access token expires

Inviato da iPhone

[2021-05-19 18:24] bcoe commented on #1126
@tbhaxor were you able to confirm that listening on the `tokens` event returns the tokens for you?

[2021-05-19 19:51] tbhaxor commented on #1126
The issue is solved with getRequestHeader.

[2021-05-19 19:51] #1126 closed

[2021-05-19 20:26] JustinBeckwith commented on #929
I'm fairly certain this was addressed in https://github.com/googleapis/gaxios/pull/374

[2021-05-19 20:26] #929 closed

[2021-05-19 21:27] JustinBeckwith commented on #1175
Thanks for the issue!  Under the hood, we are simply calling this endpoint:
https://developers.google.com/identity/protocols/oauth2/web-server#tokenrevoke

Looking at the docs, the following is called out:

If I pass a nonsense access token to that endpoint, it throws a 400 on me.  Thinking out loud here - today we always pass the `access_token` when we attempt to revoke the token.  The only cases

[2021-05-19 22:15] bshaffer commented on #1175
I believe the assumption here is that an expired access token will result in an error for invalid token when attempting to revoke it, and so not revoke the underlying refresh token?

I do not believe this is how the revoke endpoint functions, but if we can confirm that it is, then @JustinBeckwith's solution seems like the right way to handle it.

[2021-05-19 23:47] JustinBeckwith commented on #1152
Yes!  The `getRequestHeaders()` method will give you a property bag that includes the authorization header.  From there, you are free to use whichever HTTP request client you like :)  Let us know if you run into any issues!

[2021-05-19 23:47] #1152 closed

[2021-05-20 07:00] adriano-di-giovanni commented on #1175
@JustinBeckwith, I think that your solution is much more efficient than refreshing the access token before revoking the credentials.

If we were sure that revoking a refresh token implicitly revokes the access token, we could revoke the refresh token first if it exists. Otherwise, we could initiate the workflow that @JustinBeckwith proposes. The workflow should return the `invalid_token` error if

[2021-05-21 16:40] #1155 closed

[2021-05-22 19:54] asit-prakash commented on #1126
I am getting  No refresh token is set. error while using `getRequestHeader`, can anyone help. I did execute `oauth2Client.setCredentials(tokens);`

[2021-05-24 15:50] kgaspard commented on #775
I suggest re-opening this given GCP's solution of choice for deploying applications is now Cloud Run - this question is open and relevant. Going back to @jguo1002 's original question, we would have two Cloud Run apps - one React "client" app and a "server" app. We'd typically want to block unauthenticated invocations from the server app, so that it can only be queried by the client app.

https://

[2021-06-01 16:45] SurferJeffAtGoogle commented on #1107
This issue will fall OoSLO soon.

[2021-06-03 09:48] omkartralsawala commented on #987
Still facing this issue
can we open this again if it's not resolved

[2021-06-08 16:41] bcoe commented on #1126
@asit-prakash could you please open an issue that describes your problem in detail, with an example of the code you're writing.

[2021-06-10 17:00] failure-checker[bot] opened #1192 "Warning: a recent release failed"
The following release PRs may have failed:

* #1190

[2021-06-13 17:00] #1192 closed

[2021-06-14 22:18] TLKG opened #1195 "How to refresh an expired token?"
I'm using Node `google-auth-library` package to verify idToken at my API server according to [Google][1]:

    await googlelib.verifyIdToken(
                    {
                        idToken: myToken,
                        audience: myGoogleClientID,
                    },
                    (e, pass) => {...}

`verifyIdToken()` does not auto-refresh an expired token, for example I got `Er

[2021-06-15 00:05] TLKG commented on #1195
After hours of research, believe the solution is to manage our own session.

[2021-06-15 00:05] #1195 closed

[2021-06-15 15:38] sofisl commented on #1107
Hi @pankajmt,

When recreating your sample, I noticed that you weren't importing @google-auth-library in your dependencies. When recreating just the following of your code snippet, I was able to successfully print out the client object, like so:

[code]

With at least these dependencies in your package.json:

[code]

Please do follow up if this doesn't resolve your issue.

[2021-06-15 22:42] sofisl commented on #1107
Closing for now as I'm pretty sure that was the issue, but feel free to reopen @pankajmt

[2021-06-15 22:42] #1107 closed

[2021-06-23 16:53] jalbinge opened #1197 "ID token with workload identity federation"
Hello togehter,

I want to access an GCP Cloud Endpoint with workload identity federation from AWS. I have a generated impersonated key file and your first example with list buckets worked well.

For Cloud endpoints and gRPC there is the need to use GOOGLE_ID_TOKEN instead of ACCESS_TOKENS.

My code looks like this. I used the getIdTokenClient function.

`async function main() {

    const url = "

[2021-06-24 20:19] bcoe commented on #1197
@jalbinge the person who implemented this feature is currently away for a few days, I'll loop them in regarding your question as soon as they're back.

[2021-06-29 20:01] failure-checker[bot] opened #1200 "Warning: a recent release failed"
The following release PRs may have failed:

* #1190

[2021-06-30 21:46] #1200 closed

[2021-07-05 04:10] n0bisuke commented on #137
A similar problem arose. Thank you.

[2021-07-08 09:24] VeryCrazyDog opened #1208 "idtoken serverless sample did not work when running in Cloud Functions"
I have been following the [Cloud Functions documentation](https://cloud.google.com/functions/docs/securing/authenticating#generating_tokens_programmatically) to invoke a cloud function from another cloud function.

The target URL I used is in the following format:
[code]

Based on the sample code:
https://github.com/googleapis/google-auth-library-nodejs/blob/dd2d07a01daf9d7e766189b889fb36a9f6fb8e7

[2021-07-08 14:26] bcoe commented on #1208
@VeryCrazyDog thanks for digging into this, and figuring out how to make things work in Cloud Functions.

Mind providing an example of the code that worked for Cloud Functions, perhaps we can add a blurb specifically for Cloud Functions.

[2021-07-09 01:52] VeryCrazyDog commented on #1208
Below is the tested code that worked on Cloud Functions. Make sure the [permission is properly granted to the caller service account](https://cloud.google.com/functions/docs/securing/authenticating#authenticating_function_to_function_calls). After deploy, invoke the function on *Google Cloud Platform Console* via the *TESTING* page with triggering event payload `{"data": {}}`.

[code]

[2021-07-12 05:53] kkomelin opened #1209 "How to access CodeChallengeMethod enum from TypeScript?"
Hi there,

I'm using `"googleapis": "^81.0.0"` with TypeScript to generate an auth url this way:

[code]
I can't find the namespace where **CodeChallengeMethod** enum is located. I guessed it was **google.auth.OAuth2.CodeChallengeMethod.S256** but I received:

Could you please tell me where I can import **CodeChallengeMethod** enum from?
Thanks in advance.

For reference:
https://googleapis.dev/no

[2021-07-12 11:28] kkomelin commented on #1209
For those who stumbled upon the same issue, I fixed it by declaring the enum locally:
[code]
But I still would appreciate a proper fix from the package maintainers.

[2021-07-12 13:45] salrashid123 opened #1210 "Allow setting authentication client for google-cloud libraries"
PR [1207](https://github.com/googleapis/google-auth-library-nodejs/pull/1207) will implement the capability to impersonate a service account.  That is given a set of source credentials, the implementation will derive a new set of credentials which are eventually intended to call an underlying GCP API.

The implementation there surfaces an object which can be used to make direct REST api calls  (se

[2021-07-12 20:24] tmatsuo commented on #1209
It's defined here:
https://github.com/googleapis/google-auth-library-nodejs/blob/faa6677fe72c8fc671a2190abe45897ac58cc42e/src/auth/oauth2client.ts#L61

It's also exported in the top level index.ts:
https://github.com/googleapis/google-auth-library-nodejs/blob/faa6677fe72c8fc671a2190abe45897ac58cc42e/src/index.ts#L32

I think you can import it from the top level.

[2021-07-12 20:25] tmatsuo commented on #1209
Closing, but feel free to reopen.

[2021-07-12 20:29] tmatsuo commented on #1210
Assigning @bcoe for triage.

[2021-07-13 04:44] kkomelin commented on #1209
Hi @tmatsuo,
Thanks for your answer.

I wish I could import it from the top level or any other level but I can't.

The following doesn't work for some reason and that's why I'm here:
[code]
I receive:

[2021-07-13 04:45] kkomelin commented on #1209
@tmatsuo I don't have permissions to reopen the issue, so I would ask you to reopen.

[2021-07-14 14:52] evil-shrike opened #1211 "google.auth.getProjectId returns incorrent project id"
I use setting global options for auth as described in the docs - https://github.com/googleapis/google-api-nodejs-client#setting-global-or-service-level-auth

I execute my server with a cli argument `keyFile` that contains a path to a service account's key file. I pass that key file to google.options to set up auth globally. And it's used by all googleapi's clients for all APIs automatically. But w

[2021-07-14 20:30] tmatsuo commented on #1211
@evil-shrike

FYI I transferred this issue here. I think this is the right repo for this issue.

The project id is determined by:
https://github.com/googleapis/google-auth-library-nodejs/blob/dd2d07a01daf9d7e766189b889fb36a9f6fb8e73/src/auth/googleauth.ts#L190

Do you have any of the environment variables like these?
https://github.com/googleapis/google-auth-library-nodejs/blob/dd2d07a01daf9d7e766

[2021-07-14 21:30] evil-shrike commented on #1211
Thanks, @tmatsuo
`auth.getProjectId()` works as expected but the idea of using the global auth setup is to avoid dealing with auth in all other places. So I don't have direct access to that auth object where I need to get project id. I found a workaround though:
[code]
but it's a bit hacky.

[2021-07-16 20:21] tmatsuo commented on #1211
@evil-shrike I think this will be fixed with https://github.com/googleapis/nodejs-common/pull/663

[2021-07-21 03:46] clhuang opened #1215 "GoogleAuth.sign does not work with ExternalCredentials"
#### Environment details

  - OS: Mac OS 11.4
  - Node.js version: 14.16.1
  - npm version: 6.14.12
  - `google-auth-library` version: 7.3.0

#### Steps to reproduce
[code]
output:
[code]
Attempting to use workload identity federation with cloud storage signing does not work because of this, where clientLibraryConfig.json is the config retrieved from the workload identity pools page.

it is possib

[2021-07-21 22:29] bojeil-google commented on #1215
Hey @clhuang, external account creds currently do not support signing blobs. The implementation currently depends on service account keys or need the [service account email](https://github.com/googleapis/google-auth-library-nodejs/blob/bbcc9d3daf3822700120220c1daff26a2e709894/src/auth/googleauth.ts#L882) in order to call `signBlob` which is why you are seeing this error.
I think we can update the

[2021-07-22 19:27] tmatsuo commented on #1209
@kkomelin Can you do the following?

[code]

[2021-07-23 06:18] kkomelin commented on #1209
Thanks @tmatsuo,

Yes, importing `CodeChallengeMethod` from `google-auth-library` works but then I need to add `google-auth-library` to my dependency list to be safe.

What's the difference between `googleapis` and `google-auth-library`? Why can't I use the officially recommended way with `googleapis`?

[2021-07-29 14:00] #535 closed

[2021-07-30 20:08] tmatsuo commented on #1209
@kkomelin

I don't think you need to have `google-auth-library` in your package.json because `googleapis` depends on `google-auth-library`.

[2021-07-30 20:08] #1209 closed

[2021-08-06 09:09] Farrukh-Rana commented on #677
We also have a usecase very similar to @glebsts usecase. We will be fetching temporary access tokens from hashicorp vault while the application is running and would ideally like to be able to pass (and set) access tokens to the underlying `OAuthClient`. Ofcourse building very vault specific refresh functionality within a common google auth library does not makes sense, so we would like to manage t

[2021-08-10 20:36] #1215 closed

[2021-08-20 18:06] mikegin opened #1236 "Sometimes failing to retrieve Application Default Credentials on GKE Autopilot in googleapis auth library"
Mirror question here in Stack Overflow: https://stackoverflow.com/questions/68854640/sometimes-failing-to-retrieve-application-default-credentials-on-gke-autopilot-i

<br/>
<br/>

Some pods in my GKE Autopilot cluster aren't able to grab the Application Default Credentials to call other GCP services.

I will apply a new deployment, and 1 or 2 out of the 3 pods won't be able to authenticate using t

[2021-08-23 18:28] bcoe commented on #1236
@mikegin could you your cluster with the environment variable `DEBUG_AUTH` set to `true`, and provide and provide any additional error information ?

[2021-08-24 13:35] mikegin commented on #1236
@bcoe

Here is some more output with the `DEBUG_AUTH` set to `true`

[code]

[2021-08-26 20:30] JesseLovelace opened #1239 "Mismatched signature when signing with impersonated credentials"
A user of the cloud storage node library has reported an [issue](https://github.com/googleapis/nodejs-storage/issues/1550) when trying to sign URLs using Workload Identity Federation. The sign url feature of the library ultimately uses GoogleAuth.sign(), so in this case I think it should be resolving to the [recently implemented](https://github.com/googleapis/google-auth-library-nodejs/pull/1227/f

[2021-08-28 15:15] jotaen opened #1241 "`g_csrf_token` cookie is not received on a different subdomain"
# Problem
I don’t receive the `g_csrf_token` cookie on my server.

# What I did
- I have placed the “Continue with Google” login button on my login page, under a URL like so `https://example.org/login.html` (no subdomain!).
- My login API endpoint is `https://auth.example.org/google` (different subdomain!), which I configured in the [`data_login-uri`](https://developers.google.com/identity/gsi/web

[2021-08-29 06:13] andrewmcoupe commented on #1239
I can confirm I am using the expected service account, yes 👍

[2021-08-29 23:01] failure-checker[bot] opened #1242 "Warning: a recent release failed"
The following release PRs may have failed:

* #1240

[2021-08-30 18:08] #1242 closed

[2021-08-31 00:01] failure-checker[bot] opened #1245 "Warning: a recent release failed"
The following release PRs may have failed:

* #1240

[2021-09-01 16:40] #1245 closed

[2021-09-02 00:26] ncabelin commented on #916
can this "clientOptions" parameter be put on one of the Quickstarts pages as one of the examples? I spent hours trying to find a solution. This should be standard in the Directory API docs.

[2021-09-02 16:53] sofisl commented on #1241
Hi @jotaen,

Thanks for submitting! After doing some investigating, I think your issue is really with this [feature](https://developers.google.com/identity/sign-in/web/sign-in), and you can submit your bug [here](https://stackoverflow.com/questions/tagged/google-signin) and/or [here](https://github.com/googlesamples/google-services).

[2021-09-02 16:53] #1241 closed

[2021-09-05 16:03] jotaen commented on #1241
I’m not sure whether StackOverflow or the GoogleSamples repo are the right places to ask either. As you mentioned, I also think the issue is with the feature itself and with the JS library, unfortunately I have no idea who to reach out to.

[2021-09-08 15:40] bcoe commented on #1236
@mikegin could you try setting `DETECT_GCP_RETRIES=3`, and see if this stops the behavior? This will hopefully give GKE Autopilot more time to initialize.

[2021-09-08 18:07] bvarga commented on #1236
@bcoe for me it helped, thanks. 🎉 Our GKE is not in autopilot mode, I had the same issue in our staging environment, where everything is scaled down, on our production system fortunately I haven't had this issue. So my first thought was that it didn't get enough CPU, or something...

[2021-09-08 19:08] mikegin commented on #1236
@bcoe I will try that. So far I found setting K_SERVICE=true (based on the code in the gcp-metadata library) has helped. I redeployed 10 times or so to test and haven't experienced the issue.

[2021-09-09 14:44] reuel88 commented on #150
I was able to solve it like this in my **next.config.js** file
[code]

[2021-09-09 22:17] bcoe commented on #1236
@mikegin @bvarga any thoughts on where we could document this setting, so it might have jumped out at you? Would you have noticed documentation calling out this setting in the README for this repo?

[2021-09-09 22:29] mikegin commented on #1236
Adding a "Troubleshooting" section in the README with the issue and solution would be good. Even mentioning the `DEBUG_AUTH` would be great, as it helped with further diagnosis.

[2021-09-10 16:18] jdleesmiller commented on #1236
We also hit this today and spent quite a while chasing shadows before eventually finding this thread.

While documentation is good and an improvement...

As a Google Cloud customer, I would like the Google Cloud SDKs to work on Google Cloud by default. It is not ideal to have to find somewhat obscure env vars hidden in the READMEs of internal SDK libraries in order to make things work reliably.

I

[2021-09-13 22:45] bcoe commented on #1236
@jdleesmiller the folks who maintain this auth library don't work directly with the folks who maintain GKE Autopilot (_this is one of many GCP environments we make an effort to support, Cloud Run, Cloud Build,  Cloud Functions, people running from their laptop, etc._). I'm going to reach out to someone on the GKE Autopilot team, and surface this issue with them.

I've seen these issues in the past

[2021-09-14 07:37] jdleesmiller commented on #1236
Many thanks @bcoe .

In case it helps, a bit more about our case:

- Like https://github.com/googleapis/google-auth-library-nodejs/issues/1236#issuecomment-915457074, we are not actually on GKE Autopilot (just GKE Standard), but I think the common thread may be [workload identity](https://cloud.google.com/kubernetes-engine/docs/how-to/workload-identity), which is enabled by default on GKE Autopilo

[2021-09-16 10:40] andrewmcoupe commented on #1239
Any update on this yet?

[2021-09-16 17:36] bojeil-google commented on #1239
Not yet. Will keep you posted.

[2021-09-17 21:11] tmatsuo commented on #1211
@evil-shrike The fix is in the 3.7.1 release. Feel free to reopen if you still see the problem.

[2021-09-17 21:11] #1211 closed

[2021-09-20 18:39] 89z opened #1256 "Device flow"
It seems currently that native app flow (`grant_type=authorization_code`) [1] is supported:

https://github.com/googleapis/google-auth-library-nodejs/blob/f11eeee28e35e81baab0668053d4ede9fb5e71c9/src/auth/oauth2client.ts#L623-L630

But not other types, such as device flow (`grant_type=urn:ietf:params:oauth:grant-type:device_code`) [2].

1. https://developers.google.com/identity/protocols/oauth2/na

[2021-09-21 08:35] flaky-bot[bot] opened #1258 "compute: should URI-encode and comma-separate scopes when fetching the token failed"
This test failed!

To configure my behavior, see [the Flaky Bot documentation](https://github.com/googleapis/repo-automation-bots/tree/main/packages/flakybot).

If I'm commenting on this issue too often, add the `flakybot: quiet` label and
I will stop commenting.

---

commit: f11eeee28e35e81baab0668053d4ede9fb5e71c9
buildURL: [Build Status](https://source.cloud.google.com/results/invocations/d2ff

[2021-09-21 08:35] flaky-bot[bot] opened #1259 "compute: should request the identity endpoint for fetchIdToken failed"
This test failed!

To configure my behavior, see [the Flaky Bot documentation](https://github.com/googleapis/repo-automation-bots/tree/main/packages/flakybot).

If I'm commenting on this issue too often, add the `flakybot: quiet` label and
I will stop commenting.

---

commit: f11eeee28e35e81baab0668053d4ede9fb5e71c9
buildURL: [Build Status](https://source.cloud.google.com/results/invocations/d2ff

[2021-09-21 08:35] flaky-bot[bot] opened #1260 "compute: should throw an error if metadata server is unavailable failed"
This test failed!

To configure my behavior, see [the Flaky Bot documentation](https://github.com/googleapis/repo-automation-bots/tree/main/packages/flakybot).

If I'm commenting on this issue too often, add the `flakybot: quiet` label and
I will stop commenting.

---

commit: f11eeee28e35e81baab0668053d4ede9fb5e71c9
buildURL: [Build Status](https://source.cloud.google.com/results/invocations/d2ff

[2021-09-21 08:35] flaky-bot[bot] opened #1261 "compute: should request the identity endpoint for fetchIdToken failed"
This test failed!

To configure my behavior, see [the Flaky Bot documentation](https://github.com/googleapis/repo-automation-bots/tree/main/packages/flakybot).

If I'm commenting on this issue too often, add the `flakybot: quiet` label and
I will stop commenting.

---

commit: f11eeee28e35e81baab0668053d4ede9fb5e71c9
buildURL: [Build Status](https://source.cloud.google.com/results/invocations/4bfd

[2021-09-21 08:35] flaky-bot[bot] opened #1262 "googleauth googleauth: should make a request while preserving original parameters failed"
This test failed!

To configure my behavior, see [the Flaky Bot documentation](https://github.com/googleapis/repo-automation-bots/tree/main/packages/flakybot).

If I'm commenting on this issue too often, add the `flakybot: quiet` label and
I will stop commenting.

---

commit: f11eeee28e35e81baab0668053d4ede9fb5e71c9
buildURL: [Build Status](https://source.cloud.google.com/results/invocations/d2ff

[2021-09-21 08:35] flaky-bot[bot] opened #1263 "compute: should throw an error if metadata server is unavailable failed"
This test failed!

To configure my behavior, see [the Flaky Bot documentation](https://github.com/googleapis/repo-automation-bots/tree/main/packages/flakybot).

If I'm commenting on this issue too often, add the `flakybot: quiet` label and
I will stop commenting.

---

commit: f11eeee28e35e81baab0668053d4ede9fb5e71c9
buildURL: [Build Status](https://source.cloud.google.com/results/invocations/4bfd

[2021-09-21 08:35] flaky-bot[bot] opened #1264 "googleauth googleauth: getCredentials should get metadata from the server when running on GCE failed"
This test failed!

To configure my behavior, see [the Flaky Bot documentation](https://github.com/googleapis/repo-automation-bots/tree/main/packages/flakybot).

If I'm commenting on this issue too often, add the `flakybot: quiet` label and
I will stop commenting.

---

commit: f11eeee28e35e81baab0668053d4ede9fb5e71c9
buildURL: [Build Status](https://source.cloud.google.com/results/invocations/d2ff

[2021-09-21 08:35] flaky-bot[bot] opened #1265 "googleauth googleauth: should make a request while preserving original parameters failed"
This test failed!

To configure my behavior, see [the Flaky Bot documentation](https://github.com/googleapis/repo-automation-bots/tree/main/packages/flakybot).

If I'm commenting on this issue too often, add the `flakybot: quiet` label and
I will stop commenting.

---

commit: f11eeee28e35e81baab0668053d4ede9fb5e71c9
buildURL: [Build Status](https://source.cloud.google.com/results/invocations/4bfd

[2021-09-21 08:35] flaky-bot[bot] opened #1266 "googleauth googleauth: getCredentials should error if metadata server is not reachable failed"
This test failed!

To configure my behavior, see [the Flaky Bot documentation](https://github.com/googleapis/repo-automation-bots/tree/main/packages/flakybot).

If I'm commenting on this issue too often, add the `flakybot: quiet` label and
I will stop commenting.

---

commit: f11eeee28e35e81baab0668053d4ede9fb5e71c9
buildURL: [Build Status](https://source.cloud.google.com/results/invocations/d2ff

[2021-09-21 08:35] flaky-bot[bot] opened #1267 "googleauth googleauth: getCredentials should get metadata from the server when running on GCE failed"
This test failed!

To configure my behavior, see [the Flaky Bot documentation](https://github.com/googleapis/repo-automation-bots/tree/main/packages/flakybot).

If I'm commenting on this issue too often, add the `flakybot: quiet` label and
I will stop commenting.

---

commit: f11eeee28e35e81baab0668053d4ede9fb5e71c9
buildURL: [Build Status](https://source.cloud.google.com/results/invocations/4bfd

[2021-09-21 08:35] flaky-bot[bot] opened #1268 "googleauth googleauth: getCredentials should error if body is empty failed"
This test failed!

To configure my behavior, see [the Flaky Bot documentation](https://github.com/googleapis/repo-automation-bots/tree/main/packages/flakybot).

If I'm commenting on this issue too often, add the `flakybot: quiet` label and
I will stop commenting.

---

commit: f11eeee28e35e81baab0668053d4ede9fb5e71c9
buildURL: [Build Status](https://source.cloud.google.com/results/invocations/d2ff

[2021-09-21 08:35] flaky-bot[bot] opened #1269 "googleauth googleauth: getCredentials should error if metadata server is not reachable failed"
This test failed!

To configure my behavior, see [the Flaky Bot documentation](https://github.com/googleapis/repo-automation-bots/tree/main/packages/flakybot).

If I'm commenting on this issue too often, add the `flakybot: quiet` label and
I will stop commenting.

---

commit: f11eeee28e35e81baab0668053d4ede9fb5e71c9
buildURL: [Build Status](https://source.cloud.google.com/results/invocations/4bfd

[2021-09-21 08:35] flaky-bot[bot] opened #1270 "googleauth googleauth: sign should hit the IAM endpoint if no private_key is available failed"
This test failed!

To configure my behavior, see [the Flaky Bot documentation](https://github.com/googleapis/repo-automation-bots/tree/main/packages/flakybot).

If I'm commenting on this issue too often, add the `flakybot: quiet` label and
I will stop commenting.

---

commit: f11eeee28e35e81baab0668053d4ede9fb5e71c9
buildURL: [Build Status](https://source.cloud.google.com/results/invocations/d2ff

[2021-09-21 08:35] flaky-bot[bot] opened #1271 "googleauth googleauth: getCredentials should error if body is empty failed"
This test failed!

To configure my behavior, see [the Flaky Bot documentation](https://github.com/googleapis/repo-automation-bots/tree/main/packages/flakybot).

If I'm commenting on this issue too often, add the `flakybot: quiet` label and
I will stop commenting.

---

commit: f11eeee28e35e81baab0668053d4ede9fb5e71c9
buildURL: [Build Status](https://source.cloud.google.com/results/invocations/4bfd

[2021-09-21 08:35] flaky-bot[bot] opened #1272 "IdentityPoolClient for url-sourced subject tokens retrieveSubjectToken(): should resolve on text response success failed"
This test failed!

To configure my behavior, see [the Flaky Bot documentation](https://github.com/googleapis/repo-automation-bots/tree/main/packages/flakybot).

If I'm commenting on this issue too often, add the `flakybot: quiet` label and
I will stop commenting.

---

commit: f11eeee28e35e81baab0668053d4ede9fb5e71c9
buildURL: [Build Status](https://source.cloud.google.com/results/invocations/d2ff

[2021-09-21 08:35] flaky-bot[bot] opened #1273 "googleauth googleauth: sign should hit the IAM endpoint if no private_key is available failed"
This test failed!

To configure my behavior, see [the Flaky Bot documentation](https://github.com/googleapis/repo-automation-bots/tree/main/packages/flakybot).

If I'm commenting on this issue too often, add the `flakybot: quiet` label and
I will stop commenting.

---

commit: f11eeee28e35e81baab0668053d4ede9fb5e71c9
buildURL: [Build Status](https://source.cloud.google.com/results/invocations/4bfd

[2021-09-21 08:35] flaky-bot[bot] opened #1274 "IdentityPoolClient for url-sourced subject tokens retrieveSubjectToken(): should resolve on json response success failed"
This test failed!

To configure my behavior, see [the Flaky Bot documentation](https://github.com/googleapis/repo-automation-bots/tree/main/packages/flakybot).

If I'm commenting on this issue too often, add the `flakybot: quiet` label and
I will stop commenting.

---

commit: f11eeee28e35e81baab0668053d4ede9fb5e71c9
buildURL: [Build Status](https://source.cloud.google.com/results/invocations/d2ff

[2021-09-21 08:35] flaky-bot[bot] opened #1275 "IdentityPoolClient for url-sourced subject tokens retrieveSubjectToken(): should resolve on text response success failed"
This test failed!

To configure my behavior, see [the Flaky Bot documentation](https://github.com/googleapis/repo-automation-bots/tree/main/packages/flakybot).

If I'm commenting on this issue too often, add the `flakybot: quiet` label and
I will stop commenting.

---

commit: f11eeee28e35e81baab0668053d4ede9fb5e71c9
buildURL: [Build Status](https://source.cloud.google.com/results/invocations/4bfd

[2021-09-21 08:35] flaky-bot[bot] opened #1276 "IdentityPoolClient for url-sourced subject tokens retrieveSubjectToken(): should reject when the json subject_token_field_name is not found failed"
This test failed!

To configure my behavior, see [the Flaky Bot documentation](https://github.com/googleapis/repo-automation-bots/tree/main/packages/flakybot).

If I'm commenting on this issue too often, add the `flakybot: quiet` label and
I will stop commenting.

---

commit: f11eeee28e35e81baab0668053d4ede9fb5e71c9
buildURL: [Build Status](https://source.cloud.google.com/results/invocations/d2ff

[2021-09-21 08:35] flaky-bot[bot] opened #1277 "IdentityPoolClient for url-sourced subject tokens retrieveSubjectToken(): should resolve on json response success failed"
This test failed!

To configure my behavior, see [the Flaky Bot documentation](https://github.com/googleapis/repo-automation-bots/tree/main/packages/flakybot).

If I'm commenting on this issue too often, add the `flakybot: quiet` label and
I will stop commenting.

---

commit: f11eeee28e35e81baab0668053d4ede9fb5e71c9
buildURL: [Build Status](https://source.cloud.google.com/results/invocations/4bfd

[2021-09-21 08:35] flaky-bot[bot] opened #1278 "IdentityPoolClient for url-sourced subject tokens retrieveSubjectToken(): should ignore headers when not provided failed"
This test failed!

To configure my behavior, see [the Flaky Bot documentation](https://github.com/googleapis/repo-automation-bots/tree/main/packages/flakybot).

If I'm commenting on this issue too often, add the `flakybot: quiet` label and
I will stop commenting.

---

commit: f11eeee28e35e81baab0668053d4ede9fb5e71c9
buildURL: [Build Status](https://source.cloud.google.com/results/invocations/d2ff

[2021-09-21 08:35] flaky-bot[bot] opened #1279 "IdentityPoolClient for url-sourced subject tokens retrieveSubjectToken(): should reject when the json subject_token_field_name is not found failed"
This test failed!

To configure my behavior, see [the Flaky Bot documentation](https://github.com/googleapis/repo-automation-bots/tree/main/packages/flakybot).

If I'm commenting on this issue too often, add the `flakybot: quiet` label and
I will stop commenting.

---

commit: f11eeee28e35e81baab0668053d4ede9fb5e71c9
buildURL: [Build Status](https://source.cloud.google.com/results/invocations/4bfd

[2021-09-21 08:35] flaky-bot[bot] opened #1280 "IdentityPoolClient for url-sourced subject tokens retrieveSubjectToken(): should reject with underlying on non-200 response failed"
This test failed!

To configure my behavior, see [the Flaky Bot documentation](https://github.com/googleapis/repo-automation-bots/tree/main/packages/flakybot).

If I'm commenting on this issue too often, add the `flakybot: quiet` label and
I will stop commenting.

---

commit: f11eeee28e35e81baab0668053d4ede9fb5e71c9
buildURL: [Build Status](https://source.cloud.google.com/results/invocations/d2ff

[2021-09-21 08:35] flaky-bot[bot] opened #1281 "IdentityPoolClient for url-sourced subject tokens retrieveSubjectToken(): should ignore headers when not provided failed"
This test failed!

To configure my behavior, see [the Flaky Bot documentation](https://github.com/googleapis/repo-automation-bots/tree/main/packages/flakybot).

If I'm commenting on this issue too often, add the `flakybot: quiet` label and
I will stop commenting.

---

commit: f11eeee28e35e81baab0668053d4ede9fb5e71c9
buildURL: [Build Status](https://source.cloud.google.com/results/invocations/4bfd

[2021-09-21 08:35] flaky-bot[bot] opened #1282 "IdentityPoolClient for url-sourced subject tokens getAccessToken(): should resolve on retrieveSubjectToken success for text format failed"
This test failed!

To configure my behavior, see [the Flaky Bot documentation](https://github.com/googleapis/repo-automation-bots/tree/main/packages/flakybot).

If I'm commenting on this issue too often, add the `flakybot: quiet` label and
I will stop commenting.

---

commit: f11eeee28e35e81baab0668053d4ede9fb5e71c9
buildURL: [Build Status](https://source.cloud.google.com/results/invocations/d2ff

[2021-09-21 08:35] flaky-bot[bot] opened #1283 "IdentityPoolClient for url-sourced subject tokens retrieveSubjectToken(): should reject with underlying on non-200 response failed"
This test failed!

To configure my behavior, see [the Flaky Bot documentation](https://github.com/googleapis/repo-automation-bots/tree/main/packages/flakybot).

If I'm commenting on this issue too often, add the `flakybot: quiet` label and
I will stop commenting.

---

commit: f11eeee28e35e81baab0668053d4ede9fb5e71c9
buildURL: [Build Status](https://source.cloud.google.com/results/invocations/4bfd

[2021-09-21 08:35] flaky-bot[bot] opened #1284 "IdentityPoolClient for url-sourced subject tokens getAccessToken(): should resolve on retrieveSubjectToken success for text format failed"
This test failed!

To configure my behavior, see [the Flaky Bot documentation](https://github.com/googleapis/repo-automation-bots/tree/main/packages/flakybot).

If I'm commenting on this issue too often, add the `flakybot: quiet` label and
I will stop commenting.

---

commit: f11eeee28e35e81baab0668053d4ede9fb5e71c9
buildURL: [Build Status](https://source.cloud.google.com/results/invocations/4bfd

[2021-09-21 08:35] flaky-bot[bot] opened #1285 "IdentityPoolClient for url-sourced subject tokens getAccessToken(): should handle service account access token for text format failed"
This test failed!

To configure my behavior, see [the Flaky Bot documentation](https://github.com/googleapis/repo-automation-bots/tree/main/packages/flakybot).

If I'm commenting on this issue too often, add the `flakybot: quiet` label and
I will stop commenting.

---

commit: f11eeee28e35e81baab0668053d4ede9fb5e71c9
buildURL: [Build Status](https://source.cloud.google.com/results/invocations/d2ff

[2021-09-21 08:35] flaky-bot[bot] opened #1286 "IdentityPoolClient for url-sourced subject tokens getAccessToken(): should handle service account access token for text format failed"
This test failed!

To configure my behavior, see [the Flaky Bot documentation](https://github.com/googleapis/repo-automation-bots/tree/main/packages/flakybot).

If I'm commenting on this issue too often, add the `flakybot: quiet` label and
I will stop commenting.

---

commit: f11eeee28e35e81baab0668053d4ede9fb5e71c9
buildURL: [Build Status](https://source.cloud.google.com/results/invocations/4bfd

[2021-09-21 08:35] flaky-bot[bot] opened #1287 "IdentityPoolClient for url-sourced subject tokens getAccessToken(): should resolve on retrieveSubjectToken success for json format failed"
This test failed!

To configure my behavior, see [the Flaky Bot documentation](https://github.com/googleapis/repo-automation-bots/tree/main/packages/flakybot).

If I'm commenting on this issue too often, add the `flakybot: quiet` label and
I will stop commenting.

---

commit: f11eeee28e35e81baab0668053d4ede9fb5e71c9
buildURL: [Build Status](https://source.cloud.google.com/results/invocations/d2ff

[2021-09-21 08:35] flaky-bot[bot] opened #1288 "IdentityPoolClient for url-sourced subject tokens getAccessToken(): should resolve on retrieveSubjectToken success for json format failed"
This test failed!

To configure my behavior, see [the Flaky Bot documentation](https://github.com/googleapis/repo-automation-bots/tree/main/packages/flakybot).

If I'm commenting on this issue too often, add the `flakybot: quiet` label and
I will stop commenting.

---

commit: f11eeee28e35e81baab0668053d4ede9fb5e71c9
buildURL: [Build Status](https://source.cloud.google.com/results/invocations/4bfd

[2021-09-21 08:35] flaky-bot[bot] opened #1289 "IdentityPoolClient for url-sourced subject tokens getAccessToken(): should handle service account access token for json format failed"
This test failed!

To configure my behavior, see [the Flaky Bot documentation](https://github.com/googleapis/repo-automation-bots/tree/main/packages/flakybot).

If I'm commenting on this issue too often, add the `flakybot: quiet` label and
I will stop commenting.

---

commit: f11eeee28e35e81baab0668053d4ede9fb5e71c9
buildURL: [Build Status](https://source.cloud.google.com/results/invocations/d2ff

[2021-09-21 08:35] flaky-bot[bot] opened #1290 "IdentityPoolClient for url-sourced subject tokens getAccessToken(): should handle service account access token for json format failed"
This test failed!

To configure my behavior, see [the Flaky Bot documentation](https://github.com/googleapis/repo-automation-bots/tree/main/packages/flakybot).

If I'm commenting on this issue too often, add the `flakybot: quiet` label and
I will stop commenting.

---

commit: f11eeee28e35e81baab0668053d4ede9fb5e71c9
buildURL: [Build Status](https://source.cloud.google.com/results/invocations/4bfd

[2021-09-21 08:35] flaky-bot[bot] opened #1291 "IdentityPoolClient for url-sourced subject tokens getAccessToken(): should reject with retrieveSubjectToken error failed"
This test failed!

To configure my behavior, see [the Flaky Bot documentation](https://github.com/googleapis/repo-automation-bots/tree/main/packages/flakybot).

If I'm commenting on this issue too often, add the `flakybot: quiet` label and
I will stop commenting.

---

commit: f11eeee28e35e81baab0668053d4ede9fb5e71c9
buildURL: [Build Status](https://source.cloud.google.com/results/invocations/d2ff

[2021-09-21 08:35] flaky-bot[bot] opened #1292 "IdentityPoolClient for url-sourced subject tokens getAccessToken(): should reject with retrieveSubjectToken error failed"
This test failed!

To configure my behavior, see [the Flaky Bot documentation](https://github.com/googleapis/repo-automation-bots/tree/main/packages/flakybot).

If I'm commenting on this issue too often, add the `flakybot: quiet` label and
I will stop commenting.

---

commit: f11eeee28e35e81baab0668053d4ede9fb5e71c9
buildURL: [Build Status](https://source.cloud.google.com/results/invocations/4bfd

[2021-09-21 08:35] flaky-bot[bot] opened #1293 "oauth2 /workspace/build/test/test.oauth2.js: should revoke credentials if access token present failed"
This test failed!

To configure my behavior, see [the Flaky Bot documentation](https://github.com/googleapis/repo-automation-bots/tree/main/packages/flakybot).

If I'm commenting on this issue too often, add the `flakybot: quiet` label and
I will stop commenting.

---

commit: f11eeee28e35e81baab0668053d4ede9fb5e71c9
buildURL: [Build Status](https://source.cloud.google.com/results/invocations/d2ff

[2021-09-21 08:35] flaky-bot[bot] opened #1294 "oauth2 /workspace/build/test/test.oauth2.js: should revoke credentials if access token present failed"
This test failed!

To configure my behavior, see [the Flaky Bot documentation](https://github.com/googleapis/repo-automation-bots/tree/main/packages/flakybot).

If I'm commenting on this issue too often, add the `flakybot: quiet` label and
I will stop commenting.

---

commit: f11eeee28e35e81baab0668053d4ede9fb5e71c9
buildURL: [Build Status](https://source.cloud.google.com/results/invocations/4bfd

[2021-09-21 08:37] flaky-bot[bot] opened #1295 "samples for external-account: should acquire ADC for AWS creds failed"
This test failed!

To configure my behavior, see [the Flaky Bot documentation](https://github.com/googleapis/repo-automation-bots/tree/main/packages/flakybot).

If I'm commenting on this issue too often, add the `flakybot: quiet` label and
I will stop commenting.

---

commit: f11eeee28e35e81baab0668053d4ede9fb5e71c9
buildURL: [Build Status](https://source.cloud.google.com/results/invocations/a8ca

[2021-09-21 21:44] #1295 closed

[2021-09-21 21:44] #1294 closed

[2021-09-21 21:44] #1292 closed

[2021-09-21 21:44] #1290 closed

[2021-09-21 21:44] #1288 closed

[2021-09-21 21:44] #1286 closed

[2021-09-21 21:44] #1281 closed

[2021-09-21 21:44] #1279 closed

[2021-09-21 21:44] #1277 closed

[2021-09-21 21:45] #1275 closed

[2021-09-21 21:45] #1273 closed

[2021-09-21 21:45] #1271 closed

[2021-09-21 21:45] #1267 closed

[2021-09-21 21:45] #1265 closed

[2021-09-21 21:45] #1263 closed

[2021-09-21 21:45] #1261 closed

[2021-09-21 21:45] #1293 closed

[2021-09-21 21:45] #1291 closed

[2021-09-21 21:45] #1289 closed

[2021-09-21 21:45] #1287 closed

[2021-09-21 21:45] #1285 closed

[2021-09-21 21:45] #1282 closed

[2021-09-21 21:45] #1280 closed

[2021-09-21 21:45] #1278 closed

[2021-09-21 21:45] #1276 closed

[2021-09-21 21:45] #1274 closed

[2021-09-21 21:45] #1272 closed

[2021-09-21 21:45] #1270 closed

[2021-09-21 21:45] #1268 closed

[2021-09-21 21:45] #1266 closed

[2021-09-21 21:45] #1262 closed

[2021-09-21 21:45] #1260 closed

[2021-09-21 21:45] #1259 closed

[2021-09-21 21:45] #1258 closed

[2021-09-25 06:15] ahuangege commented on #1195
Hello,I meet the same problem.  Manage our own session? I don't understand.

[2021-09-25 06:19] ahuangege opened #1297 "Token used too late, 1632537218.865 > 1632491019:"
[code]
I use this just like what google says. however, it returns error: Token used too late.
Does anyone know how to solve?

[2021-09-25 06:59] ahuangege commented on #1297
[code]
I see the source code.  `const now = new Date().getTime() / 1000;`   ，The reason is the time zone?

[2021-09-25 18:14] TLKG commented on #1195
@ahuangege Yes

[2021-10-04 17:31] zshihang commented on #1236
which GKE version were you using?

[2021-10-08 20:58] chingor13 commented on #1208
The sample was updated in #1218 to no longer use `.origin()`. Using the full URL for the audience works on both GCF and Cloud Run.

[2021-10-19 10:55] sjaq opened #1305 "`fetchIdToken` fails with a 400 error when using the `Compute` client on GKE with Workload Identity"
#### Environment details
  - OS: Alpine Linux v3.11
  - Node.js version: v14.18.1
  - npm version: 6.14.15
  - `google-auth-library` version: 7.9.2

#### Steps to reproduce
  1. Run a container in GKE with Workload Identity configured
  2. Attempt to generate an ID token using the following code:

[code]

#### Cause of issue
After some debugging what is going wrong it seems the Workload Identity M

[2021-10-19 14:46] bcoe commented on #1305
@sjaq thanks for digging into this, this is a somewhat fascinating bug.

@bojeil-google is this a known issue with the workload identify server, I'm wondering if we should open an internal bug.

[2021-10-21 02:37] mattmelgard commented on #1239
Is this something limited to Workload Identity Federation? I seem to be getting a 403 when generating a signed URL using "normal" Workload Identity as well:

[code]
The versions I'm using are:

[code]

[2021-10-21 09:36] sjaq commented on #1305
Thanks for looking into this!

Is this something that I need to work around in my implementation or something I can expect an update of the library for? Just want to prevent any unnecessary workaround in my codebase... Seems like an easy fix to reorder the query arguments in the library itself?

[2021-10-21 17:38] bojeil-google commented on #1305
Hey @sjaq, we will implement it the same way I am describing above (it is not a temporary fix or hack). So you can do it on your own if you can't wait. We want to eventually do it but we have to align across languages (we need to support in several languages and not just Node.js), so it may take time to get to it given the many projects in our pipeline at the moment.

[2021-10-21 21:13] cdelguercio opened #1307 "Browser support for getDefaultServiceProjectId"
I have a project where I use a GCP pubsub client in the browser and my usage of the nodejs-pubsub eventually leads to a call to getDefaultServiceProjectId(), which obviously fails on a browser.

I use a hack where I simply replace:

**build/src/auth/googleauth.js**
[code]

with

[code]

but I'd rather do something either in Webpack or with a change to this library. I understand that I could resolv

[2021-10-22 08:37] flaky-bot opened #1308 "pack and install: "before all" hook: should be able to use the d.ts for "should be able to webpack the library" failed"
Note: #1170 was also for this test, but it was closed more than 10 days ago. So, I didn't mark it flaky.

----

commit: a6562371fd11deecc13ae00122f5ffefb67e3cbb
buildURL: [Build Status](https://source.cloud.google.com/results/invocations/6c2683b7-ed33-454d-810c-f7e7e2a2697c), [Sponge](http://sponge2/6c2683b7-ed33-454d-810c-f7e7e2a2697c)
status: failed
<details><summary>Test output</summary><br><pr

[2021-10-22 17:52] #1308 closed, assigned to nobody

[2021-10-31 12:38] sjaq commented on #1305
@bojeil-google I'm using workload identity as described [here](https://cloud.google.com/kubernetes-engine/docs/how-to/workload-identity) to run workloads that have a provided Google Service Account, when I use the nodejs client I'm provided with a `Compute` client as the default authorization client, not sure what I could do differently on my end?

[2021-11-06 08:34] flaky-bot[bot] opened #1315 "pack and install: "before all" hook: should be able to use the d.ts for "should be able to webpack the library" failed"
Note: #1308 was also for this test, but it was closed more than 10 days ago. So, I didn't mark it flaky.

----

commit: 65044310b6d42da933437b13be954ae5dc331bc7
buildURL: [Build Status](https://source.cloud.google.com/results/invocations/8c10bc28-2dd4-4bc9-9ecf-41de2b839ad7), [Sponge](http://sponge2/8c10bc28-2dd4-4bc9-9ecf-41de2b839ad7)
status: failed
<details><summary>Test output</summary><br><pr

[2021-11-08 16:03] #1315 closed

[2021-11-16 14:20] salrashid123 opened #1318 "Impersonated credentials should implement `IdTokenProvider` interface"
Currently there is no easy way to acquire an `id_token` for a service account that was impersonated.

For example, if you run an application as SA1 but you would like to get an `id_token` for SA2, you would have to first use `Impersonated` module to get a raw `access_token` for SA2 and then use that in [iamcredentials.generateIdToken()](https://cloud.google.com/iam/docs/reference/credentials/rest/

[2021-11-17 00:29] bcoe commented on #1318
@salrashid123 do you have a testing project where you're experimenting with this functionality, I'd be happy to help add this functionality, but it would be nice to have a real world environment to test against.

[2021-11-18 12:45] salrashid123 commented on #1210
here is the tmp workaround for impersonated+gcs which was shown to me yesterday:
  https://gist.github.com/salrashid123/e5fc03761f62ef6ff213ac3b29661967

note, i manually added in the `sign()` method to `node_modules/google-auth-library/build/src/auth/impersonated.js` just to allow impersonated_credentials to issue signedurls

[2021-11-19 15:39] bcoe commented on #1318
@bcoe I'll make an effort to prod at this next week during the slow week, feel free to message me if you feel like wokring on this patch together.

[2021-11-21 12:52] LumaKernel opened #1320 "Feature Request: AWS SDK v3 credentials support"
**Is your feature request related to a problem? Please describe.**
The AWS's new version of SDK `@aws-sdk/*` [![](https://img.shields.io/badge/-aws%2Faws--sdk--js--v3-%23000000?style=flat&logo=github)](https://github.com/aws/aws-sdk-js-v3) has new feature about credentials, `@aws-sdk/credentials-provider` [![](https://img.shields.io/badge/-doc-%23232F3E?style=flat&logo=amazon-aws)](https://docs.aw

[2021-11-21 14:15] LumaKernel opened #1322 "Feature Request: Official support for integration with firebase-admin and google-auth-library ExternalAccountClient."
**Is your feature request related to a problem? Please describe.**
`firebase-admin` [![](https://img.shields.io/badge/-firebase%2Ffirebase--admin--node-%23000000?style=flat&logo=github)](https://github.com/firebase/firebase-admin-node) [![](https://img.shields.io/badge/npm-firebase--admin-%23cb0000?style=flat&logo=npm)](https://www.npmjs.com/package/firebase-admin) requires credential in STS respo

[2021-11-22 15:46] bcoe commented on #1322
@hiranya911, @lahirumaramba, I'm not very familiar with `firebase-admin`, I don't suppose you have any thoughts as to what the interface should look like to make it easier to integrate `google-auth-library`?

Would happily take a patch.

[2021-11-26 09:32] tripodsan opened #1323 "await for emit('tokens')"
**Is your feature request related to a problem? Please describe.**

when implementing a token cache, using the `on('tokens')` event is great. unfortunately, this does not work for async caches, because the `emit()` call is not awaited.

 **Describe the solution you'd like**

ideally, the code would `await` the call:

[code]

here:

- https://github.com/googleapis/google-auth-library-nodejs/blob/5e

[2021-11-30 06:11] bojeil-google commented on #1320
He @LumaKernel, the library supports AWS environment variables for environments where the metadata server is not available: `AWS_ACCESS_KEY_ID`, `AWS_SECRET_ACCESS_KEY`, `AWS_SESSION_TOKEN`, etc.

[2021-11-30 22:21] projektorius96 opened #1327 "google-api-nodejs-client vs. google-auth-library-nodejs – core difference ?"
Hi, as casual Node.js user , I am curious what's the difference between two i.e.: [google-api-nodejs-client](https://github.com/googleapis/google-api-nodejs-client) and google-auth-library-nodejs ?

Thank you.

[2021-12-01 17:42] #1327 closed

[2021-12-01 17:55] projektorius96 commented on #1327
That helps a lot , thanks ! 💯

[2021-12-02 07:01] spacesEdward commented on #1241
I ran into the same problem and didn't find anything related in SO, so I've asked a question here: https://stackoverflow.com/questions/70195261/g-csrf-token-not-passed-as-cookie-to-subdomain

I will update this comment if I get a response that resolves my issue.

[2021-12-02 07:35] jotaen commented on #1241
Just for the records, I didn’t file a question on SO or the samples repo. I don’t expect anything to come out of it, since the issue is with the library itself and not with its usage, so I personally think that only the developers of the library would be able to help out. But there doesn’t seem to be any way to reach them.

I ended up adding a hack into my Proxy server that internally forwards the

[2021-12-03 08:21] sagar86kc commented on #1197
Is there any workaround for this? I'm also facing same error.

[2021-12-03 09:36] flaky-bot[bot] opened #1328 "samples for external-account: should acquire ADC for file-sourced creds failed"
This test failed!

To configure my behavior, see [the Flaky Bot documentation](https://github.com/googleapis/repo-automation-bots/tree/main/packages/flakybot).

If I'm commenting on this issue too often, add the `flakybot: quiet` label and
I will stop commenting.

---

commit: 110ddc245b768888a88d8c7211f0b0391326cc10
buildURL: [Build Status](https://source.cloud.google.com/results/invocations/71c1

[2021-12-03 09:36] flaky-bot[bot] opened #1329 "samples for external-account: should acquire ADC for url-sourced creds failed"
This test failed!

To configure my behavior, see [the Flaky Bot documentation](https://github.com/googleapis/repo-automation-bots/tree/main/packages/flakybot).

If I'm commenting on this issue too often, add the `flakybot: quiet` label and
I will stop commenting.

---

commit: 110ddc245b768888a88d8c7211f0b0391326cc10
buildURL: [Build Status](https://source.cloud.google.com/results/invocations/71c1

[2021-12-03 09:37] flaky-bot[bot] opened #1330 "samples for external-account: should acquire ADC for AWS creds failed"
Note: #1295 was also for this test, but it was closed more than 10 days ago. So, I didn't mark it flaky.

----

commit: 110ddc245b768888a88d8c7211f0b0391326cc10
buildURL: [Build Status](https://source.cloud.google.com/results/invocations/71c1f188-2bbd-4d48-a60e-b657b5bce241), [Sponge](http://sponge2/71c1f188-2bbd-4d48-a60e-b657b5bce241)
status: failed
<details><summary>Test output</summary><br><pr

[2021-12-03 18:24] projektorius96 opened #1331 "Web server application vs. Server to Server application – core difference ?"
Hi, whilst reading [this](https://developers.google.com/identity/protocols/oauth2#libraries) I've came up with **A) & B)**
Can someone explain the core difference between **A)** [Web Server Applications](https://developers.google.com/identity/protocols/oauth2/web-server) & **B)** [Server to Server Applications](https://developers.google.com/identity/protocols/oauth2/service-account) as for OAuth2

[2021-12-03 23:21] sofisl commented on #1331
@projektorius96, the main difference is that A uses oAuth2 sequence, including obtaining a code, and trading that code for an auth token. B does not use oAuth interaction, just a premade service account.

I think, if I were to put it more succinctly, A would be best for end-user situations, whereas B is helpful where you have an actor acting as a service account (i.e., not an end user).

Thanks @a

[2021-12-03 23:21] #1331 closed

[2021-12-04 10:25] projektorius96 commented on #1331
Hey . @sofisl & @alexander-fenster thanks a lot ! ♥

[2021-12-06 17:31] chingor13 commented on #1328
Permissions fix to restore Workload Identity Federation being made internally.

[2021-12-06 17:32] chingor13 commented on #1330
Permissions fix to restore Workload Identity Federation being made internally.

[2021-12-06 18:20] #1328 closed

[2021-12-06 18:20] #1329 closed

[2021-12-06 18:20] #1330 closed

[2021-12-07 10:23] chaowenGUO opened #1332 "how to auto renew access token"
**PLEASE READ**: If you have a support contract with Google, please create an issue in the [support console](https://cloud.google.com/support/) instead of filing on GitHub. This will ensure a timely response.

Hi:

From https://www.npmjs.com/package/google-auth-library, I use the following example:

[code]

the problem is client.credentials.access_token will expire in 1 hour.

I also see:

Handlin

[2021-12-08 16:52] chingor13 commented on #1332
Most built-in auth types know how to refresh their own tokens before expiry - the exception being direct access tokens. If the credentials loaded via JSON in the first example are service account key or user credentials (with refresh token), it should automatically refresh.

[2021-12-08 17:33] chaowenGUO commented on #1332
I use the first case and service account key and use them in an application. The application will call gcloud api in every 5 minutes. In the first hour, it works ok. But when one hour pass, it shows:

401 ***
  error: ***

node:internal/process/esm_loader:94
    internalBinding('errors').triggerUncaughtException(
    code: 401,
                              ^
    message: 'Request had invalid auth

[2021-12-16 15:38] increos commented on #916
Hi .. I am trying to  use the service account  using Google Cloud Functions to access the Workspace Directory API. I am trying to use [Application Default Credentials](https://github.com/googleapis/google-auth-library-nodejs#application-default-credentials) approach. Since the documentation doesn't mention any additional steps to be done in the Google Cloud Console side, I assume that  Application

[2021-12-16 22:54] chaowenGUO commented on #1332
Any idea how to deal with my case?

[2021-12-17 22:44] markbecker-work commented on #1197
I'm also having issues running into this error

[2021-12-19 20:03] hashweather opened #1338 "Revoking Access Credentials for a particular scope is affecting other scopes"
My app is requesting for two different scopes separately.

The first set of scopes is this:
[code]
Which was requested for separately on click of a button and the returned token saved separately.

Then on click of another button, I requested for another separate scopes below:
[code]

Which returned token was also saved separately.

Now when I revoke credentials for YouTube scopes using the code be

[2021-12-20 18:18] guibirow opened #1339 "Auth library serverless example is misleading in the documentation for cloud functions authentication"
The [cloud functions documentation ](https://cloud.google.com/functions/docs/securing/authenticating) uses the nodejs [auth library serverless example](https://github.com/googleapis/google-auth-library-nodejs/blob/7b6c04185088b028af31a22c88ad5d78e9f6f2fb/samples/idtokens-serverless.js#L42) to demonstrate how to authenticate when invoking a function with an IdToken.

Unfortunately this causes a lot

[2021-12-20 18:28] guibirow commented on #1208
I have opened [another issue](https://github.com/googleapis/google-auth-library-nodejs/issues/1339) to cover this, because this is a common issue created by the documentation asking people to use the serverless example provided in this repo.

If the example is called serverless, it should provide examples for cloud run and cloud functions explicitly, otherwise people will have this problem, that q

[2021-12-20 18:46] chingor13 commented on #1338
It looks like this is how Google's auth server handles "incremental authorization". More info can be found at: https://developers.google.com/identity/protocols/oauth2/web-server#incrementalAuth

Specifically:

[2021-12-20 18:46] #1338 closed

[2021-12-20 20:25] #1339 closed

[2021-12-20 20:47] guibirow commented on #1339
That was quick. Thanks for the quick resolution.

One last question, is there anything needed to update the docs?
I see it still showing the old example.

[2021-12-20 22:15] chingor13 commented on #1332
Your code in `main.js` is fetching a token once (because it's making an API call https://github.com/chaowenGUOorg/audio/blob/0cd43fd26cfb1062c38142fa0856ca80fa2ac632/main.js#L8) and then re-using that token for the rest of the requests.

If you use your auth client to make the request, it will refresh its token. Can you try making the [subsequent requests](https://github.com/chaowenGUOorg/audio/bl

[2021-12-21 17:32] bcoe commented on #1197
@bojeil-google any thoughts on this one, or is there someone we can point folks towards?

[2021-12-22 04:03] chaowenGUO commented on #1332
Thank you problem solved

[2021-12-22 04:03] #1332 closed

[2021-12-26 18:14] shlomizadok commented on #1297
Any resolution on this one?

[2021-12-27 02:16] ahuangege commented on #1297
Comment out the relevant code. But,&nbsp;It seems not for this reason.&nbsp;Later it seemed to be okay

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "googleapis/google-auth-library-nodejs"

[2021-12-28 15:14] bcoe commented on #1197
@xil222 could you help out with this one? Is this a known limitation of the current workload identity implementation?

[2021-12-30 15:54] #1320 closed

[2021-12-30 15:54] bcoe commented on #1320
@LumaKernel please let us know if @bojeil-google's suggestion doesn't work for you :ok_hand:

[2021-12-31 04:19] bcoe commented on #1297
@shlomizadok @ahuangege `getTime()` should be timezone independent, my guess would be that it could actually be clock skew on the machine that was making the request, or perhaps just a hiccup.

@shlomizadok if you're continuing to bump into issues, check what your your time on the computer making the request, and see if it is slightly off?

[2021-12-31 04:19] #1297 closed

[2022-01-03 08:52] jalbinge commented on #1197
Hey there,
be aware that I am not very familiar with nodeJs, but here is an example code which worked for me:

[code]

[2022-01-05 02:52] bojeil-google commented on #1197
Hey @jalbinge this looks like a duplicate feature request of https://github.com/googleapis/google-auth-library-nodejs/issues/1305
I didn't dive into the details of the provided snippet but it looks like it should work.

[2022-01-05 18:55] averikitsch commented on #1339
The docs page is now updated. Thanks!

[2022-01-07 15:16] SheaBelsky opened #1345 "`g_csrf_token` is not transmitted over subdomains for Google Sign In library"
1) Is this a client library issue or a product issue?
This is the client library for `google-auth-library`. If my frontend is on `https://website.com` and my backend is hosted on `https://api.website.com`, the `g_csrf_token` cookie is not transmitted to my backend because of the `HostOnly` aspect of the cookie. As defined by the documentation at [this page](https://developers.google.com/identity/g

[2022-01-07 17:22] bcoe commented on #1197
@bojeil-google let me know if you can pitch in here, worst case can have someone on our team start ramping up on WIF.

[2022-01-10 18:14] bojeil-google commented on #1197
Hey @bcoe, I mentioned above that this looks like a duplicate of the other issue. @xil222 is no longer on the team. I can hold on this or the duplicate issue until we can find the right owner for it.

[2022-01-13 15:57] bcoe commented on #1197
@bojeil-google there seems to be some variation in the environment and nuance of two issues. Shall we keep both open for now, even if the same documentation or implementation work addresses both?

[2022-01-13 17:34] bojeil-google commented on #1197
Ok, sounds good @bcoe. Let's keep both open.

[2022-01-20 12:47] hebbellwt commented on #1097
I have the same problem, my vue is hosted by google cloud run, it should invokes a GCP function. But I got the same error

[2022-01-20 15:58] villesau opened #1349 "node-forge dependency subject to prototype pollution"
#### Environment details

  - `google-auth-library` version: 7.11.0

#### Steps to reproduce

  1. install `google-auth-library`
  2. run `npm audit`

node-forge library that gogole auth library depends on is vulnerable to prototype pollution: https://github.com/advisories/GHSA-5rrq-pxf6-6jx5

It might or might not affect google-auth-library, but it is at least annoyance when running security audi

[2022-01-20 18:17] shaffeeullah commented on #1239
@bojeil-google do you have an estimated timeline for this work?

[2022-01-25 09:34] flaky-bot[bot] opened #1352 "samples for external-account: should acquire ADC for AWS creds failed"
Note: #1330 was also for this test, but it was closed more than 10 days ago. So, I didn't mark it flaky.

----

commit: 34ca2a0797a3ee8ba8dea90bd88716599185e4b0
buildURL: [Build Status](https://source.cloud.google.com/results/invocations/dc172157-e688-4fc6-bdb4-9cbeb282cca7), [Sponge](http://sponge2/dc172157-e688-4fc6-bdb4-9cbeb282cca7)
status: failed
<details><summary>Test output</summary><br><pr

[2022-01-26 09:37] #1352 closed

[2022-01-31 13:28] jmkrimm commented on #916
I am having the same issue as @increos and would like to replicate the solution provided for Python: https://github.com/GoogleCloudPlatform/professional-services/blob/master/examples/gce-to-adminsdk/main.py

[2022-01-31 18:59] increos commented on #916
@jmkrimm My conclusion through  trial and error (correctly or incorrectly ) is the ADC strategy works for "newer?" Google Cloud Platform service e.g. Cloud Storage, Secrets Manager etc. But if you are reaching beyond to other (legacy?) Google Products like Workspace then you need other approaches.  I got it to work by using using the [Secret Manager](url) product. Storing my keys there and reading

[2022-02-01 20:59] cakoose commented on #1349
GitHub's "dependabot" feature started issuing alerts on node-forge for me yesterday. Maybe it started issuing these alerts for every other GitHub repo as well?

google-auth-library is my one remaining dependency that depends on node-forge v0.x. Would be nice to be able to clear this alert and not have to create and maintain an exception for this.

The node-forge changelog for v1.0.0: [link](https:

[2022-02-02 18:29] tjwudi opened #1355 "refreshAccessToken deprecated in favor of getRequestHeaders - mistake?"
https://github.com/googleapis/google-auth-library-nodejs/blob/c23ae13863f38d43d575b8a930fa701720fcdc88/src/auth/oauth2client.ts#L710-L714

The code documentation shows that `refreshAccessToken` is deprecated in favor of `getRequestHeaders`. These two methods don't look seemingly related. Was this deprecation a mistake?

[2022-02-03 15:43] bcoe commented on #1355
@tjwudi using `getRequestHeaders` will automatically refresh the access token, I believe this note is probably for implementers like `gRPC` where they call `getRequestHeaders` to populate the access token on a request -- just a note that the upstream implementer need no longer call this method.

[2022-02-03 19:21] tjwudi commented on #1355
Thanks @bcoe. The implicit behavior of `getRequestHeaders` can be quite confusing to API consumers who wants to store updated access token.

Proposal: I found out that `getAccessTokenAsync` does the actual work that refreshes access token. It updates `client.credentials` with the new tokens when refreshed. Should it be the alternative to `refreshAccessToken` as it seems more relevant and straightf

[2022-02-05 16:42] bcoe commented on #1355
@tjwudi I think if you want to store tokens, your best bet is:

[code]

This should emit an event whenever the token is refreshed, could this work for you?

[2022-02-08 14:56] sizlo opened #1360 "Missing dependencies when installing with Node 16"
When trying to use google-auth-library for a react app I am getting lots of errors that indicate missing dependencies. The errors are in the following format:

[code]

The error messages include details on how to add a polyfill, but after going through each of these and adding the suggested polyfill the library still does not work, outputting the following error to the console:

[code]

#### Envir

[2022-02-08 15:08] bcoe commented on #1349
This issue was addressed upstream in gtoken, make sure you have up-to-date versions of `gtoken` and `node-forge`, you may need to delete your `package-lock.json`.

[code]

[2022-02-08 15:13] bcoe commented on #1355
@tjwudi let us know if there are any issues using the `client.on('tokens')` functionality to detect and store an updated token. If there are bugs with this interface you're bumping into, we can fix them -- but, going forward this is the preferred interface for detcting a new token has been emitted.

[2022-02-08 15:13] #1355 closed

[2022-02-08 15:15] bcoe commented on #1323
Closing based on discussion in PR, thanks for your work digging into this @tripodsan.

[2022-02-08 15:22] bcoe commented on #1079
[ANUBHAV2142](https://github.com/ANUBHAV2142) closung due to inactivity, please let us know if you are continuing to run into issues.

[2022-02-08 15:26] #1323 closed

[2022-02-08 15:29] bcoe commented on #1360
closing in favor of our catch all issue:

https://github.com/googleapis/google-cloud-node/issues/2933

---

We do not at this time support the browser without some manual work on the user's part (discussed in the issue above). We are, however, looking at adding this functionality.

May I ask what APIs you're hoping to interact with from the frontend?

[2022-02-08 15:29] #1360 closed

[2022-02-14 22:19] bojeil-google commented on #1239
FYI @lsirac

[2022-02-15 23:27] mhandugan opened #1365 "signBlob signatures guaranteed to be valid for only 12 hours"
The current comments fail to say how long a signed blob will be valid.

https://github.com/googleapis/google-auth-library-nodejs/blob/883cf2596664b7de8159fb29a8f16705218a2ad4/src/auth/googleauth.ts#L880

From the iam.serviceAccounts.signBlob documentation:
[code]

This means the default behavior only generates signatures valid for up to 12 hours (may be longer, but not guaranteed to be). This turn

[2022-02-16 10:07] TimurSadykov opened #1366 "Implement Retryable interface for token endpoint requests"
Currently, clients do not have a good way to distinguish retryable errors and implement custom retry strategies. Sometimes this causes infinite retries like here: https://github.com/nwbirnie/gapic-oauth-invalid-hangs. Please prioritize the fix if similar infinite retry is repro here as well.

More details in the doc: go/auth-correct-retry

[2022-02-17 17:00] bcoe opened #1368 "Retire LRU dependency"
The LRU dependency API surface has changed signficnatly between v6 and v7, is it worth migrating to a new version or should we try to implement similar behavior ourselves?

https://github.com/googleapis/google-auth-library-nodejs/pull/1359

[2022-02-17 19:53] fjrdguez opened #1370 "Error in google-gax/build/src/clientInterface.d.ts 7.13.0"
interface ClientOptions exteds by GrpcClientOptions and GoogleAuthOptions.

GrpcClientOptions has a optional  property auth of type GoogleAuth
but
GootleAuthOptions has a optional property auth of type AuthClient

when transpile crash:

node_modules/google-gax/build/src/clientInterface.d.ts:7:18 - error TS2320: Interface 'ClientOptions' cannot simultaneously extend types 'GrpcClientOptions' and 'G

[2022-02-18 02:57] dimavedenyapin commented on #1370
This part of code is breaking my build. 10 hours ago the build stopped working.
I am using the following packages:
[code]

Error that I am getting:
[code]

Another related issue:
https://github.com/firebase/firebase-tools/issues/4181

[2022-02-18 07:24] fjrdguez commented on #1370
I have been provisionally solved by changing the package.json, forcing a previous version, if you imply it, it Elemina the package-lock.json and performs an NPM i again.

    "google-auth-library": "7.11.0",
    "firebase-admin": "10.0.1",

If you did not have Google-Auth-Library at the package.json, include it with version 7.11.0 to force that it does not charge the ultra update that is the one t

[2022-02-18 12:35] fpoon commented on #677
Hi, we've come across this problem as well, also looking for a way of integration with Vault managed tokens, and developed a quick workaround. As this issue seems to be stale, I want to share this snippet of static access token usage for anyone else stumbling in here:
[code]
Adjusting this code for Vault managed access tokens is fairly simple, just add function reading access token from Vault and

[2022-02-21 19:53] bcoe commented on #1370
@fjrdguez @dimavedenyapin @fjrdguez `7.13.0` was briefly released with a type issue, and then rolled back to `7.12.0`.

If you install `7.12.0`, it will correct the issue for you.

[2022-02-21 19:53] #1370 closed

[2022-02-22 20:21] bcoe opened #1373 "Add sample + sample integration test for auth library's most common consumers"
Add an integration test for some of `google-auth-library`'s most important downstream consumers:

* nodejs-googleapis-common.
* nodejs-common.
* gax.

## Open question

If we do intend to take a breaking change, how can we do so without ignoring these broken integration tests (🐔  or 🥚  problem).

[2022-02-23 04:13] mjohnsonengr commented on #1370
This appears to happen in 7.14.0 as well.  Reverting to 7.12.0 fixed it for me.

Looks like 7.14.0 was released by a bot. Has the underlying issue been fixed?

[2022-02-23 06:20] zubairzahoor opened #1374 "'GoogleAuth<JSONClient> | undefined' is not assignable to type 'JSONClient | undefined'."
Did the recent update break something?

 Types of property 'authClient' are incompatible.
11:08:51      Type 'GoogleAuth<JSONClient> | undefined' is not assignable to type 'JSONClient | undefined'.
11:08:51  node_modules/@google-cloud/common/build/src/util.d.ts(42,18): error TS2430: Interface 'MakeAuthenticatedRequestFactoryConfig' incorrectly extends interface 'GoogleAuthOptions<JSONClient>'.
11:

[2022-02-23 15:16] iPablo commented on #1374
I have the same issue since this morning

[2022-02-23 15:21] bcoe commented on #1374
closing as duplicate of https://github.com/googleapis/nodejs-common/issues/734

`google-gax` has been rolled back, which was forcing the latest version of auth.

[2022-02-23 15:21] #1374 closed

[2022-02-28 20:19] Philip2809 opened #1377 "How to sign in user and keep them signed in with react login in with google button"
Hi!

I am trying to make a simple sign in system but I can't seem to find the correct documentation of what to use that is up to date and works as I need it to. I have a react app, where there can be users. I have a sign in page with the sign in with google button and then I have a backend server. I want the user to be able to sign in and then stay signed in. I am not sure if I am thinking about t

[2022-03-04 20:00] baptisteArno opened #1379 "Refresh the token in an AWS Lambda function"
The library works perfectly on my machine but when it's deployed in a Lambda function, the token doesn't seem to automatically update:

[code]

 My guess is that it doesn't have time to update in the database because this is handled in a callback.

Is there a way to check if expiry_date is passed and update the token with a Promise-based function?

Some examples of errors I get:
<img width="902" a

[2022-03-04 20:20] baptisteArno commented on #1379
Oooooh I think I know, I think the tokens from the callback don't contain the `refresh_token` so I pushed credentials in db without the `refresh_token`!

[2022-03-13 00:43] bailer opened #1382 "Support ADC json when impersonating service user"
**Is your feature request related to a problem? Please describe.**
When generating an ADC json you are able to impersonate a service user which outputs a JSON file that is not currently handled.
e.g.
[code]
Which generates the following JSON format:
[code]
Currently the library throws the following error when doing this:
`The incoming JSON object does not contain a client_email field`
 **Describe

[2022-03-16 07:32] 3sne commented on #1236
Thanks @bcoe. I was facing the same issue with a deployment in a standard GKE cluster. Setting `DETECT_GCP_RETRIES=3` did work, but it would be great to have this documented somewhere easier to find, maybe in the [GKE Workload Identity troubleshooting section](https://cloud.google.com/kubernetes-engine/docs/how-to/workload-identity#troubleshooting)?

[2022-03-22 15:42] ZhaoTzuHsien opened #1384 "Upgrade gtoken to 5.3.1 to fix vulnerabilities!"
Thanks for stopping by to let us know something could be better!

**PLEASE READ**: If you have a support contract with Google, please create an issue in the [support console](https://cloud.google.com/support/) instead of filing on GitHub. This will ensure a timely response.

1) Is this a client library issue or a product issue?
This is the client library for . We will only be able to assist with i

[2022-03-23 02:31] ckcr4lyf commented on #1384
@ZhaoTzuHsien gtoken is semver to any minor updates - https://github.com/googleapis/google-auth-library-nodejs/blob/main/package.json#L26

If you install the package / update it, it should get the latest. You could also try `npm audit fix` if that detects the vulnerability.

Can you share some more details if you've already tried these?

[2022-03-24 08:24] hankei6km opened #1385 "Incomplete regular expression WORKFORCE_AUDIENCE_PATTERN"
My repository( ([hankei6km/gdrive-act-share](https://github.com/hankei6km/gdrive-act-share) ) contains the code that bundles [googleapis/google-auth-library-nodejs](https://github.com/googleapis/google-auth-library-nodejs). And my repositry is enabled CodeQL.

CodeQL has detected that it has not escaped the meta-character.

https://github.com/googleapis/google-auth-library-nodejs/blob/54cfaaf5a440

[2022-03-25 22:47] alamothe opened #1386 "Compute should expose serviceAccountEmail"
Currently, in class `Compute`: https://github.com/googleapis/google-auth-library-nodejs/blob/main/src/auth/computeclient.ts

The field `serviceAccountEmail` is private and there is no getter.

This prevents finding the service account for the default credentials when executing on CE:
[code]

This is needed to authenticate to PostgreSQL using the service account.

[2022-03-28 12:34] jmkrimm commented on #916
@increos sorry but that solution will not work because I am trying not to create a KEY file at all. When code runs on GCP and the default service account has the necessary authorization, it should just work. Similar to authenticaing to GCP resources like Cloud Storage. The issue is not with the Google API but the nodejs library. Google Workspace API in most cases expects impersonation of a Google

[2022-03-29 06:03] alamothe commented on #1386
Actually, this field returns simply "default" (!)

This is inconsistent with `[google-auth-library-java](https://github.com/googleapis/google-auth-library-java)`, which returns the actual email. How can we get the email?

[2022-03-31 01:12] imathews commented on #1382
Just a friendly +1 on this — I'm running into the same issue with `google-auth-node`, which is preventing us from utilizing impersonated service accounts in our local dev environment.

[2022-04-03 15:54] RizqiSyahrendra commented on #916
Wow great, thank you so much 😄 , I've been looking for this all day long

[2022-04-05 09:08] patrykkarny commented on #916
for me the solution with JWT worked:

[code]

[2022-04-06 20:03] danielbankhead commented on #1373
[Internal]

The root issue for this request will be resolved via the resolution of: go/nodejs-mono-repo

Closing this for now.

[2022-04-06 20:03] #1373 closed

[2022-04-06 20:21] danielbankhead commented on #1210
This should be supported as of v7.14.0: https://github.com/googleapis/google-auth-library-nodejs/pull/1372

`GoogleAuth` now accepts `AuthClient`: https://github.com/googleapis/google-auth-library-nodejs/blob/b48254490768799e465a8fa4aae13296ddceea53/src/auth/googleauth.ts#L74-L78

Sample: https://github.com/googleapis/google-auth-library-nodejs/blob/main/samples/downscopedclient.js

[2022-04-06 20:21] #1210 closed

[2022-04-06 20:26] danielbankhead commented on #1145
Apologies for the delay. Added via https://github.com/googleapis/google-auth-library-nodejs/pull/1361

[2022-04-06 20:26] #1145 closed

[2022-04-11 19:21] bcoe commented on #1307
@cdelguercio I agree that the call to `exec` is pretty side-effect-y, and it would be worth figuring out an approach that works better in the browser.

We're currently investigating making our libraries work better in browser context. For the time being, I think your best bet is to use WebPack to replace `child_process`, but we will make sure to address this issue when/if we offer support for our

[2022-04-11 19:32] bcoe commented on #1305
@sjaq I'm glad you've found a workaround that's doing the trick for you.

It seems like a nice feature would be if you could somehow upgrade a Compute client to a WorkLoadIdentityCompute client? Leaving this open as a feature request.

[2022-04-11 22:23] #1384 closed

[2022-04-12 12:35] salrashid123 opened #1524 "Issue with PubSub client using provided JWTAccess"

[2022-04-27 22:26] #1239 closed

[2022-04-28 06:01] sceee opened #1402 "`GoogleAuth` can no longer be used with `googleapis`: Type 'GoogleAuth<JSONClient>' is not assignable to type 'string | OAuth2Client | BaseExternalAccountClient | GoogleAuth<JSONClient> | undefined'"
After updating `google-auth-library-nodejs` from v7.14.1 to v8.0.1, the following Typescript compile error occurs:
[code]

#### Environment details

  - OS: Windows
  - Node.js version: v16.14.2
  - npm version: v8.7.0
  - `google-auth-library` version: v8.0.1

#### Steps to reproduce

  1. Use the same code as previously
[code]
  3. Execute `tsc` for Typescript compile

[2022-05-03 17:31] rob-pomelo commented on #1113
In addition, other language libraries (such as java) make this possible without requiring service accounts.

[code]
The above lines are what we use to fetch an OIDC to call a gRPC cloud run service. The above only works when the ADC is for a service account, but ideally it would work for an ADC for the user account (as it does for java / go).

[2022-05-05 14:06] forty opened #1405 "gtoken request does not use the transporter"
#### Environment details

  - OS: Linux
  - Node.js version: 12
  - npm version: Using PNPM 6
  - `google-auth-library` version: 7.14.1

#### Steps to reproduce

This library uses the [gtoken](https://github.com/googleapis/node-gtoken) for JWT. The issue is that when using this library, the `transporter` is not used to do the gaxios request, and as a result, it doesn't work with custom `transporte

[2022-05-06 20:20] tlhunter opened #1409 "Can this package validate a Sign In With Google CredentialResponse JWT?"
I'm implementing Sign In With Google on a website of mine. The JavaScript library does its thing and I receive a [CredentialResponse](https://developers.google.com/identity/gsi/web/reference/js-reference#CredentialResponse) JWT from Google, all in the browser. I'd then like to pass this response to a Node.js server, have it validate the the response is real, create an account, and reply with the d

[2022-05-06 20:28] tlhunter commented on #1409
I discovered the documentation for doing this: https://developers.google.com/identity/gsi/web/guides/verify-google-id-token

[2022-05-06 20:28] #1409 closed

[2022-05-09 06:56] minht11 opened #1411 "Recommended Electron oauth2 flow is no longer valid."
From August 2022 Google oauth2 iOS key will [no longer support localhost redirects](https://developers.googleblog.com/2022/02/making-oauth-flows-safer.html), this was a recommended way for Electron apps to use this library and still is inside the [docs](https://github.com/googleapis/google-auth-library-nodejs#oauth2-with-installed-apps-electron).

Given the policy changes what is the new recommend

[2022-05-19 09:53] MihirLathiya510 commented on #1126
while using the `getRequestHandler` i'm getting the error `No access, refresh token, API key or refresh handler callback is set.`

all i want to do is refresh my token if it's expired

[2022-05-19 12:22] MihirLathiya510 commented on #81
but how any snippet? asking for callback

[2022-05-20 07:54] MihirLathiya510 opened #1414 "Refresh The access-token"
- I was trying to refresh the token if it's expired , i don't really know how to do , and i couldn't find any way or snippet or example, i found that there's `getAccessToken()` which can give me refreshed token but it needed callback and i dont know how to give tokens to that function, also found that `refreshAccessToken()` is deprecated and in that description saying use `getRequestHeader()` inst

[2022-05-20 08:56] MihirLathiya510 commented on #103
how about now ? after refreshAccessToken is deprecated and saying use getRequestHeaders instead how should we use it if there is example please share

[2022-05-24 08:35] flaky-bot[bot] opened #1415 "pack and install: "after each" hook: cleanup staging for "should be able to webpack the library" failed"
This test failed!

To configure my behavior, see [the Flaky Bot documentation](https://github.com/googleapis/repo-automation-bots/tree/main/packages/flakybot).

If I'm commenting on this issue too often, add the `flakybot: quiet` label and
I will stop commenting.

---

commit: d7893c1dc70b3aa45c12bb9b6c0e5346a293b130
buildURL: [Build Status](https://source.cloud.google.com/results/invocations/e0a4

[2022-05-25 16:35] TheQKnight opened #1417 "verifyIdToken with invalid idToken crashes entire application regardless of try catch blocks"
#### Environment details

  - OS: Windows 10
  - Node.js version: 16.5.0
  - npm version: 8.5.5
  - `google-auth-library` version: ^8.0.2

#### Steps to reproduce

Pass an invalid idToken to the verifyIdToken method around a try catch block in an async function. The entire application will exit and crash.

![image](https://user-images.githubusercontent.com/17223871/170315291-1d15cd21-66e1-4e53-917

[2022-05-28 07:25] jpike88 opened #1418 "No pem found for envelope (wrong 'kid' property match)"
https://github.com/googleapis/google-auth-library-nodejs/blob/d7893c1dc70b3aa45c12bb9b6c0e5346a293b130/src/auth/oauth2client.ts#L1304

My code looks like this:

[code]

It works well for my iOS and web Google Sign in implementations.
For the android one, it's failing, with error:

```No pem found for envelope: {"alg":"RS256","kid":"6f8e1cb15641463c6df0f33394b03c92fcc889ac","typ":"JWT"}```

The pay

[2022-05-28 08:57] jpike88 commented on #1418
Found the root of the problem

The kid is matching a certificate on this url.
`https://www.googleapis.com/robot/v1/metadata/x509/securetoken@system.gserviceaccount.com`

However, this library doesn't include those certificates when figuring out which certificate to work with.

@danielbankhead can you explain this? There's this bizarre crossover with google auth and firebase... the library is calle

[2022-05-28 09:13] jpike88 commented on #1418
My workaround looks like this now... nasty but it works.

[code]

[2022-05-28 09:16] jpike88 commented on #1322
????? @bcoe you literally work for Google. How do you not have a contact at the Firebase team that can help dive in and make things right?

I've spent many many hours to create this issue, it seems like this lib and firebase's auth lib are on different planets, and for no good reason.

https://github.com/googleapis/google-auth-library-nodejs/issues/1418

[2022-05-31 18:48] summer-ji-eng commented on #1418
@danielbankhead could you take a look at this issue? Many thanks

[2022-06-01 12:21] itsbrianburton commented on #677
@JustinBeckwith @broady A specific Google-recommended use case is here: https://cloud.google.com/iam/docs/create-short-lived-credentials-direct  Our microservices request a short-lived access token for each tenant and use that token to access their resources (bucket and database).  No refresh tokens necessary.

We're dealing with this bug right now, and haven't found a working solution yet.  Would

[2022-06-07 15:13] bcoe commented on #1415
Latest run passed, will keep eye open to see if this opens again frequently.

[2022-06-10 07:30] #1414 closed

[2022-06-16 14:52] duffenterprises opened #1422 "Programatic OIDC WIF"
In the documentation provided [here](https://github.com/googleapis/google-auth-library-nodejs#accessing-resources-from-an-oidc-identity-provider) the suggestion is to eventually drop down to a `gcloud` command to

This seems at least in spirit against the objective of keyless access to GCP since a file now exists that can subsequently be used for access.

Our use case is generating short term cred

[2022-06-18 04:59] danielbankhead commented on #1402
Hey @sceee, I believe this was a temporary issue due to `google-auth-library` being a different major version from what `googleapis` required (thus `GoogleAuth<JSONClient>` != `GoogleAuth<JSONClient>`).

Closing as this cannot be reproduced.

[2022-06-18 04:59] #1402 closed

[2022-06-20 18:44] bcoe commented on #1422
@aeitzma, is there anyone on the auth team who might be able to field @duffenterprises' question.

[2022-06-27 14:31] cr3ative commented on #677
As with @itsbrianburton, we just implemented this Google-recommended use case of short lived credentials, hit this problem, and had to implement a solution based on @fpoon's answer.

This was frustrating - it would be very welcome to see this functionality come back. I'm also in the "I create and refresh the token" category of user, I don't need this library to deal with refreshes.

[2022-06-28 18:38] aeitzman commented on #1422
@duffenterprises Can you elaborate on what you mean by “a file now exists that can subsequently be used for access”? The generated ADC file itself doesn’t have keys that could be used for access (when setup for OIDC workload pools), it contains either a path to a file with a key, or a url that could be used to access your on premise OIDC provider to get a token. If you want to achieve the same thi

[2022-06-30 16:05] #1382 closed

[2022-07-11 05:19] sudheeshskrishna commented on #948
@JustinBeckwith Has this been addressed in any later versions?

[2022-07-13 05:21] LearningLadoo commented on #1402
I'm also getting same issue? can you please guide me?

[2022-07-13 05:23] danielbankhead commented on #1402
@LearningLadoo this can usually be solved when all dependent libraries are up-to-date.

[2022-07-13 05:31] LearningLadoo commented on #1402
Thank you, my google-auth-library was not updated.

[2022-07-13 12:55] Pixelatex opened #1432 "Invoking a google cloud function from an app engine"
- What you're trying to do
My app engine running a nodeJS application should be able to send a GET request to my google cloud function.

- What code you've already tried

[code]

- Any error messages you're getting
I keep getting 403 forbiddens that I'm not allowed to fetch an id token for that service. I did give my app engine default service account the cloud invoker role and it's been added in

[2022-07-14 16:37] bcoe opened #1433 "[tracking issue]: adding executable and file handling for Pluggable Auth Client"
Tracking issue for: https://github.com/googleapis/google-auth-library-nodejs/pull/1431

[2022-07-18 07:54] linusromland commented on #916
THANK YOU!

[2022-07-18 08:58] svante-jonsson commented on #916
Thanks! This solved everything! ❤️

[2022-07-22 22:28] emlys commented on #959
I also have this question

[2022-07-29 14:42] shogo-nakano-desu opened #1434 "Refactoring: Quit mixing Promises and async/await"
### Problem
- There is a comment by @bcoe that says `TODO`. This comment has been here for two years.
  - https://github.com/googleapis/google-auth-library-nodejs/blob/main/src/auth/googleauth.ts#L206-L232

### Suggestion
- It would be better to use `async/await` only and reduce the length of code. It will make this repo easier to see through.
- I am going to create PR when this change is accepted

[2022-08-02 17:29] sofisl commented on #1434
This looks good to me, as long as tests pass as well :) Thank you!

[2022-08-03 06:00] shogo-nakano-desu commented on #1434
Thank you. I am going to create PR 👍

[2022-08-03 18:10] bcoe commented on #959
@sai-sunder-s do you happen to have any documentation you could direct people towards, for best practices regarding desktop authentication of OAuth applications?

[2022-08-11 23:31] #1433 closed

[2022-08-17 21:49] danielbankhead commented on #1318
Hey @m0ar, @salrashid123, & @FrodoTheTrue: found some time to work on this today. Here's the PR:
- https://github.com/googleapis/google-auth-library-nodejs/pull/1439

It should be merged shortly after review 👌🏽

[2022-08-19 15:52] #1318 closed

[2022-08-22 11:04] salrashid123 opened #1443 "`Impersonated` credentials should implement `sign()` capability"
`Impersonated` client does not have any way to generate signedurl or to signbytes.

This credential type uses the IAM api to perform acquire various token types like `generateAccessToken`,  `generateIdToken` (ref: https://github.com/googleapis/google-auth-library-nodejs/issues/1318),

The ability to sign on behalf of the impersonated svc account through the iam api would use the [signBlob](https:/

[2022-08-23 11:23] Eleftheria-99 opened #1445 "Addmessage endpoint gives error in message type"
Hello,
I am trying to use this endpoint : https://developers.google.com/wallet/tickets/events/rest/v1/eventticketobject/addmessage, in order to send a message to the user that has added the pass ij the GPay. I am building the message body like this :

[code]
 and I am always getting this error :

[code]
Is there an other way to use enum in json ?

[2022-08-23 21:49] danielbankhead commented on #1445
Hey @Eleftheria-99, although this isn't an Auth-related issue, the `message` property should be `messages` - an array of objects: https://developers.google.com/wallet/tickets/events/rest/v1/eventticketobject#resource:-eventticketobject

[2022-08-23 21:49] #1445 closed

[2022-08-23 21:50] danielbankhead commented on #1434
Fixed in https://github.com/googleapis/google-auth-library-nodejs/pull/1436

[2022-08-23 21:50] #1434 closed

[2022-08-24 04:48] danielbankhead commented on #421
Hey @hiranya911 - I'll pick this up for you (a few years after the fact 😅). You are correct, `projectId` is not required for this request (in fact, adding a project id would be [invalid according to the documentation](https://cloud.google.com/iam/docs/reference/credentials/rest/v1/projects.serviceAccounts/signBlob#path-parameters)). I'll create a PR shortly.

[2022-08-30 11:48] cristianbuta opened #1453 "Authentication using a service account without a keyfile"
Hi, I am trying to authenticate my Node.js application using a service account but I can't use a keyFile because of my limitations in terms of deployment pipelines.

During build time I can only pass env variables to my build script and there is no possibility to pass a file. I understand that the only way of authenticating my app is by passing the keyFile property to my auth client.

What are my

[2022-08-30 12:12] cristianbuta commented on #1453
For anyone looking for the same thing, I solved my issue doing this

`
const {auth} = require('google-auth-library');

// load the environment variable with our keys
const keysEnvVar = process.env['CREDS'];
if (!keysEnvVar) {
  throw new Error('The $CREDS environment variable was not found!');
}
const keys = JSON.parse(keysEnvVar);

async function main() {
  // load the JWT or UserRefreshClient fr

[2022-08-30 12:12] #1453 closed

[2022-08-30 15:52] #421 closed

[2022-08-31 16:54] #755 closed

[2022-09-01 23:08] champ-devops opened #1456 "Use GoogleAuth class without a credential file"
Hello,

We don't want to use a credential file to store our secrets as it doesn't work well with our stack. I'm not quite sure if this should be in bug or feature request, but I'll share it here and the results. I feel like it is already possible to use `GoogleAuth` without a file, and perhaps I'm just doing it wrong. I would like to use `GoogleAuth` since the automatic selection of auth type is a

[2022-09-03 04:39] kkam-hca commented on #916
OMG THANK YOU SO MUCH

[2022-09-06 20:09] champ-devops commented on #1456
After some more hunting, it seems that this [issue](https://github.com/googleapis/google-auth-library-nodejs/issues/1085), better documentation of the various strategies, could be helpful.

[2022-09-08 06:15] arminrosu commented on #1456
@champ-devops based on your code and my own debugging, I manage to get this to work:

[code]

The `PEM routines:get_name:no start line` error sounds to me like it's related to your key - is there some additional escaping?

Mine looks like:

[code]

I realise this comment might be of little help for you, but hopefully it does a bit.

[2022-09-08 14:58] champ-devops commented on #1456
This is helpful thank you! I did realize that I was using the wrong secret which was definitely a big part of my problem.

[2022-09-08 14:58] #1456 closed

[2022-09-09 06:05] oneWalker commented on #283
add one note:
 I adjust the port with my personal prxoy port in `.env` and it runs successfully.
 the project will not read it from pc's global setting but .env

[2022-09-15 19:41] alamothe opened #1459 "Returns incorrect token on Windows"
The library returns incorrect token on Windows. On MacOS everything works as expected.

The code:
[code]
On windows:
[code]
(there are so many dots at the end, why?)

If I simply use `gcloud` then it's fine:
[code]

#### Environment details

  - OS: Windows
  - Node.js version: v16.17.0
  - npm version: 8.15.0
  - `google-auth-library` version: 8.5.1

#### Steps to reproduce

  1. Run the code abo

[2022-09-15 21:36] danielbankhead opened #1460 "refactor: Remove `querystring` usage"
Today we import and use Node.js's `querystring` module throughout the library.

However, the module is considered 'legacy': https://nodejs.org/api/querystring.html#query-string

Using other solutions should cover us; preferably the standard [`URL`](https://developer.mozilla.org/en-US/docs/Web/API/URL) whenever possible.

[2022-09-17 08:33] flaky-bot[bot] opened #1462 "samples for downscoping with cab: should have access to the object specified in the cab rule failed"
This test failed!

To configure my behavior, see [the Flaky Bot documentation](https://github.com/googleapis/repo-automation-bots/tree/main/packages/flakybot).

If I'm commenting on this issue too often, add the `flakybot: quiet` label and
I will stop commenting.

---

commit: a069469b9907df70967e2a1d91d2736fefdffe95
buildURL: [Build Status](https://source.cloud.google.com/results/invocations/e8e2

[2022-09-17 08:33] flaky-bot[bot] opened #1463 "samples for external-account: "before all" hook for "should acquire ADC for file-sourced creds" failed"
This test failed!

To configure my behavior, see [the Flaky Bot documentation](https://github.com/googleapis/repo-automation-bots/tree/main/packages/flakybot).

If I'm commenting on this issue too often, add the `flakybot: quiet` label and
I will stop commenting.

---

commit: a069469b9907df70967e2a1d91d2736fefdffe95
buildURL: [Build Status](https://source.cloud.google.com/results/invocations/e8e2

[2022-09-17 08:33] flaky-bot[bot] opened #1464 "samples: should acquire application default credentials failed"
This test failed!

To configure my behavior, see [the Flaky Bot documentation](https://github.com/googleapis/repo-automation-bots/tree/main/packages/flakybot).

If I'm commenting on this issue too often, add the `flakybot: quiet` label and
I will stop commenting.

---

commit: a069469b9907df70967e2a1d91d2736fefdffe95
buildURL: [Build Status](https://source.cloud.google.com/results/invocations/e8e2

[2022-09-17 08:33] flaky-bot[bot] opened #1465 "samples: should create a JWT failed"
This test failed!

To configure my behavior, see [the Flaky Bot documentation](https://github.com/googleapis/repo-automation-bots/tree/main/packages/flakybot).

If I'm commenting on this issue too often, add the `flakybot: quiet` label and
I will stop commenting.

---

commit: a069469b9907df70967e2a1d91d2736fefdffe95
buildURL: [Build Status](https://source.cloud.google.com/results/invocations/e8e2

[2022-09-17 08:33] flaky-bot[bot] opened #1466 "samples: should read from a keyfile failed"
This test failed!

To configure my behavior, see [the Flaky Bot documentation](https://github.com/googleapis/repo-automation-bots/tree/main/packages/flakybot).

If I'm commenting on this issue too often, add the `flakybot: quiet` label and
I will stop commenting.

---

commit: a069469b9907df70967e2a1d91d2736fefdffe95
buildURL: [Build Status](https://source.cloud.google.com/results/invocations/e8e2

[2022-09-17 08:33] flaky-bot[bot] opened #1467 "samples: should allow directly passing creds failed"
This test failed!

To configure my behavior, see [the Flaky Bot documentation](https://github.com/googleapis/repo-automation-bots/tree/main/packages/flakybot).

If I'm commenting on this issue too often, add the `flakybot: quiet` label and
I will stop commenting.

---

commit: a069469b9907df70967e2a1d91d2736fefdffe95
buildURL: [Build Status](https://source.cloud.google.com/results/invocations/e8e2

[2022-09-17 08:33] flaky-bot[bot] opened #1468 "samples: should obtain headers for a request failed"
This test failed!

To configure my behavior, see [the Flaky Bot documentation](https://github.com/googleapis/repo-automation-bots/tree/main/packages/flakybot).

If I'm commenting on this issue too often, add the `flakybot: quiet` label and
I will stop commenting.

---

commit: a069469b9907df70967e2a1d91d2736fefdffe95
buildURL: [Build Status](https://source.cloud.google.com/results/invocations/e8e2

[2022-09-17 08:33] flaky-bot[bot] opened #1469 "samples: should fetch ID token for Cloud Run failed"
This test failed!

To configure my behavior, see [the Flaky Bot documentation](https://github.com/googleapis/repo-automation-bots/tree/main/packages/flakybot).

If I'm commenting on this issue too often, add the `flakybot: quiet` label and
I will stop commenting.

---

commit: a069469b9907df70967e2a1d91d2736fefdffe95
buildURL: [Build Status](https://source.cloud.google.com/results/invocations/e8e2

[2022-09-17 08:33] flaky-bot[bot] opened #1470 "samples: should fetch ID token for IAP failed"
This test failed!

To configure my behavior, see [the Flaky Bot documentation](https://github.com/googleapis/repo-automation-bots/tree/main/packages/flakybot).

If I'm commenting on this issue too often, add the `flakybot: quiet` label and
I will stop commenting.

---

commit: a069469b9907df70967e2a1d91d2736fefdffe95
buildURL: [Build Status](https://source.cloud.google.com/results/invocations/e8e2

[2022-09-20 18:29] #1470 closed

[2022-09-20 18:29] #1469 closed

[2022-09-20 18:29] #1468 closed

[2022-09-20 18:29] #1467 closed

[2022-09-20 18:29] #1466 closed

[2022-09-20 18:29] #1465 closed

[2022-09-20 18:29] #1464 closed

[2022-09-20 18:29] #1463 closed

[2022-09-20 18:29] #1462 closed

[2022-10-11 08:36] flaky-bot[bot] opened #1474 "pack and install: should be able to use the d.ts failed"
This test failed!

To configure my behavior, see [the Flaky Bot documentation](https://github.com/googleapis/repo-automation-bots/tree/main/packages/flakybot).

If I'm commenting on this issue too often, add the `flakybot: quiet` label and
I will stop commenting.

---

commit: 4bbd13fbf9081e004209d0ffc336648cff0c529e
buildURL: [Build Status](https://source.cloud.google.com/results/invocations/8e17

[2022-10-11 08:36] flaky-bot[bot] opened #1475 "pack and install: should be able to webpack the library failed"
This test failed!

To configure my behavior, see [the Flaky Bot documentation](https://github.com/googleapis/repo-automation-bots/tree/main/packages/flakybot).

If I'm commenting on this issue too often, add the `flakybot: quiet` label and
I will stop commenting.

---

commit: 4bbd13fbf9081e004209d0ffc336648cff0c529e
buildURL: [Build Status](https://source.cloud.google.com/results/invocations/8e17

[2022-10-12 22:58] alexander-fenster commented on #948
Folks, to set a timeout for authentication, you can use the idea of "default settings" in `gaxios`, the library we use for making HTTP requests. Somewhere in the beginning of your code, do this:

[code]

Then all requests that don't have timeout set in the options (auth requests included) will have this default timeout.

[2022-10-13 19:35] sofisl commented on #1475
See also: https://github.com/googleapis/nodejs-googleapis-common/issues/489

[2022-10-13 19:35] sofisl commented on #1474
See also: https://github.com/googleapis/nodejs-googleapis-common/issues/489

[2022-10-17 20:03] danielbankhead commented on #1474
Looks fine now: https://github.com/googleapis/google-auth-library-nodejs/pull/1476

Definitely a transient dependency issue. Next time this happens we should capture the root issue by running the system-test locally (`gaxios` seems to have non-side effect `system-tests`, see https://github.com/googleapis/gaxios/issues/506 & https://github.com/googleapis/gaxios/pull/507). This way we can determine

[2022-10-17 20:03] #1474 closed

[2022-10-17 20:09] danielbankhead commented on #1475
dup: https://github.com/googleapis/google-auth-library-nodejs/issues/1474

[2022-10-17 20:09] #1475 closed

[2022-10-22 18:46] mpacary commented on #981
@ghost, I hope that you've sorted out your issue?

For anyone passing by :

I hit the same error while migrating to version 8.6.0 of **google-auth-library**. I had to first call `client.authorize()` before querying Google APIs.

[Current doc for v108](https://www.npmjs.com/package/google-auth-library/v/8.6.0) seems inaccurate, I had to dig in [older versions of the doc](https://www.npmjs.com/packa

[2022-10-25 10:54] MrBrax commented on #1402
agreed, seems completely broken right now

[2022-10-25 14:54] danielbankhead commented on #1402
@MrBrax is Auth and it’s dependencies up-to-date?

[2022-10-25 14:55] MrBrax commented on #1402
in the end it seemed that version 6 and 8 of auth was not compatible with the most recent youtube api package (6.0.0), but instead only 7.14.1 worked

[2022-10-25 14:58] Chris112 commented on #1402
I had this issue a few months back using the latest versions of `@googleapis/drive` and `@googleapis/gmail` and the JWT client from `google-auth-library`.

The first solution I found was to look at the version of `googleapis-common` used in the [package.json](https://github.com/googleapis/google-api-nodejs-client/blob/main/src/apis/drive/package.json) then check the version of `google-auth-library

[2022-10-25 14:59] MrBrax commented on #1402
yup i hovered over the error (something about oauth2client not being compatible) and it said 7.14.1 in the bundled version so that's what i chose to downgrade to

[2022-10-25 15:09] danielbankhead commented on #1402
@MrBrax All of our clients should be using auth V8 by now. What are the exact Google package(s) & versions are you using?

[2022-10-25 16:23] MrBrax commented on #1402
i was using google-auth-library@8.6.0 and @googleapis/youtube@6.0.0 which broke compatibility

[2022-10-25 17:48] danielbankhead commented on #1402
That's strange; `@googleapis/youtube@6.0.0` depends on `googleapis-common`, which depends on `google-auth-library` v8. What happens if you removed `node_modules` and do a clean install?

[2022-10-25 18:21] MrBrax commented on #1402
I don't use node_modules but yarn 3 pnp, googleapis-common is at version 5.1.0

[2022-10-25 19:24] danielbankhead commented on #1402
Looking a little closer, I see we have a publishing issue - `@googleapis/youtube` is a bit out of date on the registry:
https://github.com/googleapis/google-api-nodejs-client/blob/main/src/apis/youtube/package.json

I'll sync with the team and get this resolved for you.

[2022-10-25 19:52] danielbankhead commented on #1236
Want to give an update to this issue - this PR should resolve this issue, however we're syncing internally on its implementation and uniformity across languages: https://github.com/googleapis/gcp-metadata/pull/528

[2022-10-26 15:38] ochoacabriles opened #1560 "createSubscription method throws if oidcToken is being set"
Thanks for stopping by to let us know something could be better!

**PLEASE READ**: If you have a support contract with Google, please create an issue in the [support console](https://cloud.google.com/support/) instead of filing on GitHub. This will ensure a timely response.

1) Is this a client library issue or a product issue?
Client library issue

2) Did someone already solve this?
This user fac

[2022-10-27 08:35] flaky-bot[bot] opened #1481 "pack and install: "after each" hook: cleanup staging for "should be able to webpack the library" failed"
Note: #1415 was also for this test, but it was closed more than 10 days ago. So, I didn't mark it flaky.

----

commit: 89daaac8e1230935ed80733ac9c2cd89079e2f04
buildURL: [Build Status](https://source.cloud.google.com/results/invocations/a4d3ecfa-2da6-4451-83d1-e36c9e804c45), [Sponge](http://sponge2/a4d3ecfa-2da6-4451-83d1-e36c9e804c45)
status: failed
<details><summary>Test output</summary><br><pr

[2022-10-28 17:08] bcoe commented on #1481
_Feel free to assign back to me if you don't have time, just doing triage._

I believe this will be a really small tweak, where we maybe just need to provide the `recursive` flag?

[2022-10-28 19:05] danielbankhead commented on #1481
Thanks! Will get to this shortly

[2022-10-31 19:57] chaim0m opened #1483 "Type inconsistency"
https://github.com/googleapis/google-auth-library-nodejs/blob/89daaac8e1230935ed80733ac9c2cd89079e2f04/samples/idTokenFromServiceAccount.js#L47

The type does not contain this fuction something seems to be incorrect here.

[2022-11-02 18:22] jketcham opened #1485 "Improve docs around fetching ID Tokens (Example for `idtokens-serverless.js` is misleading)"
It's been mentioned in a couple [previous](https://github.com/googleapis/google-auth-library-nodejs/issues/1208) [issues](https://github.com/googleapis/google-auth-library-nodejs/issues/1339): the documentation and example code included in [samples/idtokens-serverless.js](https://github.com/googleapis/google-auth-library-nodejs/blob/89daaac8e1230935ed80733ac9c2cd89079e2f04/samples/idtokens-serverl

[2022-11-02 22:15] thurdev commented on #1345
This still happening 😭 on new google auth library.

Thank you for letting me now by your title "g_csrf_token is not transmitted over subdomains for Google Sign In library"

[2022-11-07 18:48] danielbankhead commented on #1402
@MrBrax Hey! Circling back, we've fixed the publishing issue and [`@googleapis/youtube`](https://www.npmjs.com/package/@googleapis/youtube) is up-to-date with the latest Auth client.

[2022-11-07 18:49] MrBrax commented on #1402
Nice!

[2022-11-10 02:55] danielbankhead commented on #1483
Thanks for raising this issue @chaim0m, I will provide a fix shortly.

[2022-11-11 19:19] #1485 closed

[2022-11-16 17:00] amrsa1 opened #1489 "How to set user agent in the auth request ?"
our domain is protected with IAP authentication, and its blocking our e2e test.

so we have added API authentication using the code snippet below

[code]

the response below

[code]

**PLEASE READ**: If you have a support contract with Google, please create an issue in the [support console](https://cloud.google.com/support/) instead of filing on GitHub. This will ensure a timely response.

[2022-11-23 00:25] davebenson opened #1492 "Unable to get ID Token from ID Token Client due to 404 error"
1) Is this a client library issue or a product issue?
This is the client library for google-auth-library-nodejs. We will only be able to assist with issues that pertain to the behaviors of this library. If the issue you're experiencing is due to the behavior of the product itself, please visit the [ Support page]() to reach the most relevant engineers.

If the support paths suggested above still d

[2022-11-23 21:17] danielbankhead commented on #1492
Hey @davebenson, I've verified the `getIdTokenClient` functionality is working fine. It looks like you're using Cloud Run, here's how the target audience and URLs should be set:

https://github.com/googleapis/google-auth-library-nodejs/blob/22de7040690fd11dca32b6a46585404c97233ff6/samples/idtokens-serverless.js#L39-L45

[2022-11-23 21:19] #1483 closed

[2022-11-23 22:38] danielbankhead commented on #1481
Strange, we currently set recursive as true (effectively):

https://github.com/googleapis/google-auth-library-nodejs/blob/74a9fffed6b8fb3cdb6e90a26960586baed40f3b/system-test/test.kitchen.ts#L34

[2022-11-23 23:10] danielbankhead commented on #1481
Related discussion: https://github.com/raszi/node-tmp/issues/276

I'll refactor and remove this dependency altogether using native tools, e.g. [fsPromises.mkdtemp](https://nodejs.org/api/fs.html#fspromisesmkdtempprefix-options)

[2022-11-25 14:19] cronon commented on #1411
I've just faced the same problem, has anybody found a solution yet?

[2022-11-25 16:15] komret commented on #1411
We played it extra safe and created a backend authorization service so that we did not have to expose the `client_secret`, here's the implementation: https://github.com/trezor/trezor-suite/pull/5669. Super annoying, especially if you do not need a backend otherwise.

[2022-11-29 22:04] #1492 closed

[2022-11-29 22:31] danielbankhead commented on #1489
Hey @amrsa1,

You can extend the `DefaultTransporter` class and use the `configure` method to set the `User-Agent` for now:

[code]

In the next major release, this functionality will be made easier by this PR: https://github.com/googleapis/google-auth-library-nodejs/pull/1406

[2022-11-29 22:36] danielbankhead commented on #1432
Hey @Pixelatex, are you still experiencing this issue?

We've recently updated the id token sample:

https://github.com/googleapis/google-auth-library-nodejs/blob/00d6135f35a1aa193d50fad6b3ec28a7fda9df66/samples/idtokens-serverless.js#L33-L72

Let me know if this helps.

[2022-11-30 11:14] hawkng commented on #916
Tried clientOptions method but it does not work.
It works using this way https://stackoverflow.com/questions/73032573/how-to-use-service-account-to-authenticate-google-workspace-admin-api